{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Get help retrieving your Government Gateway ID
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-8">
      You will need the Unique Taxpayer Reference (UTR) for the enrolment you are trying to access, such as Self
      Assessment or Corporation Tax.
    </p>
    <p class="govuk-body">
      Do not use this helpline for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>issues with VAT online services - call the <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">VAT
          online services helpline</a></li>
      <li>problems verifying your identity or tax queries, contact the helpline that deals with your tax, Child Benefit
        or tax credits affairs</li>
    </ul>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        Telephone: 0300 200 3600
      </p>
      <p class="govuk-body">
        Textphone: 0300 200 3603
      </p>
      <p class="govuk-body">
        Outside UK: +44 161 930 8445
      </p>
    </div>

    <p class="govuk-body">
      Opening times
    </p>
    <p class="govuk-body">
      Monday to Friday: 8am to 8pm
    </p>
    <p class="govuk-body">
      Saturday: 8am to 4pm
    </p>
    <p class="govuk-body">
      Sunday: 9am to 5pm
    </p>
    <p class="govuk-body">
      Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day
    </p>
    <p class="govuk-body">
      <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Find out about call charges</a>
    </p>
  </div>

</div>

{% endblock %}