{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a1.html' %}

<div class="govuk-grid-row">

  <form action="" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              We need to ask some questions to prove your identity
            </h1>
          </legend>

          <p>
          <p>We can either ask you questions online or <a href="">send you a security pin by post</a>.</p>
          <p>We will ask you questions about 2 items you may have, like your:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-0">
              <li>UK passport</li>
              <li>payslips or P60</li>
              <li>Self Assessment</li>
              <li>tax credits and Voice ID</li>
          </ul>

            <p>You may also be able to answer questions about your credit record.</p>
          
            <p>We ask for these questions to:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-0">
                <li>prove your identity online</li>
                <li>protect you against malicious or fraudulent attempts to access the service</li>
            </ul>




        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>

  </form>

</div>




{% endblock %}
