{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}



{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        You already manage your taxes, duties and schemes online
      </h1>
      <p class="govuk-body govuk-!-margin-bottom-6">
        You must have added them to another account. You need to sign in to that account.
      </p>
</div>

  <form action="/manage-account/add-sa/wrong-credentials" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                Do you know the user ID and password for your other account?
            </h2>

          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-1" name="choose-help" type="radio"
                value="user-id">
              <label class="govuk-label govuk-radios__label" for="choose-1">
                  Yes, sign in with user ID
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-2" name="choose-help" type="radio"
                value="retrieve-details">
              <label class="govuk-label govuk-radios__label" for="choose-2">
                  No, retrieve my sign in details
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-3" name="choose-help" type="radio" value="get-help">
              <label class="govuk-label govuk-radios__label" for="choose-3">
                  No, get help from HMRC
              </label> </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>

  </form>

</div>

{% endblock %}