{% extends "layout.html" %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_how_to_pay__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
{% include 'includes/nav-homepage-a1.html' %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Your Self Assessment</h1>
          <div class="govuk-warning-text" style="margin-bottom:0px;padding-bottom:0px;font-weight:bold;">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <p class="govuk-body">
                <a href="https://www.gov.uk/coronavirus/business-support" class="govuk-link" target="_blank" style="font-size:19px;font-weight:bold">
                  Find support for businesses about coronavirus (COVID-19) (opens in new tab)
                </a>
              </p>
            </strong>
          </div>

          <div class="govuk-inset-text" style="margin-top:0px">
            Payments will take up to 7 working days to show, depending on how you pay. After you complete your return your tax calculation will take up to 2 days.
          </div>

          <h2 class="govuk-heading-m">Your returns</h2>

          <p>You have no returns to complete.</p>

          <h2 class="govuk-heading-m govuk-!-margin-top-4">Your balance</h2>

        	<p>You are £16,482.40 in credit.</p>

        	<p>This will pay your tax bill of £16,482.40 on the 30 July 2021.</p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Bill details
              </span>
            </summary>
            <div class="govuk-details__text">
              £16,482.40 - tax bill for 2021 to 2022
            </div>
          </details>

          <p>You can no longer use a personal credit card. If you pay with a credit card, it must be linked to a business bank account.</p>

          <button class="govuk-button" data-module="govuk-button" style="background-color: #005ea5;">
            Make a Self Assessment payment
          </button>

          <p class="govuk-body govuk-!-font-weight-bold">We cannot display your card payment history at the moment. Check again later.</p>

          <h2 class="govuk-heading-m">See your annual tax summary</h2>

          <p class="govuk-body">
            <a href="https://www.staging.tax.service.gov.uk/annual-tax-summary" class="govuk-link" >
              Find out how your tax is spent
            </a>
          </p>

          <h2 class="govuk-heading-m" style="margin-bottom:5px;">More Self Assessment options</h2>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://www.staging.tax.service.gov.uk/business-account/help/self-assessment/help-with-return">Do I need to file a return?</a>
            </li>
            <li>
              <a class="https://www.gov.uk/stop-being-self-employed" target="_blank">When you are no longer self employed (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/check-if-you-need-tax-return" target="_blank">When to stop sending Self Assessment returns (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.staging.tax.service.gov.uk/digital-forms/form/register-a-partner-or-a-partnership-for-self-assessment/draft/a2648a4d-166d-49fb-9dd3-2176f7ee5119/continue#1" target="_blank">Set up a partnership or add a partner (opens in new tab)</a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.staging.tax.service.gov.uk/business-account/add-tax/self-assessment/trust">Set up a trust</a>
            </li>
            <li>
              <a class="govuk-link" href="" target="_blank">Appeal a £100 Self Assessment late filing penalty online (opens in new tab)</a>
            </li>
            <li>
          </ul>



          <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
            <summary class="govuk-details__summary_noarrow" style="display:block;">
              <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
                Is this page not working properly?
              </span>
            </summary>
            <div class="">

            </div>
          </details>








      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s" style="margin-bottom:5px;"">Self Assessment Unique Taxpayer Reference (UTR):</h2>
        <p class="govuk-body-s">1102696864</p>

        <h2 class="govuk-heading-s" style="margin-bottom:5px;"">Help</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="https://bta-cards-prototype.herokuapp.com/help-and-contact/help-and-contact">Help and contact</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.staging.tax.service.gov.uk/corporation-tax/org/6471604667/account/balanceperiods?lang=eng" target="_blank">More Self Assessment details (opens in new tab)</a>
          </li>
        </ul>
      </div>

    </div>

  </main>
</div>




{% endblock %}
