{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}


{% block content %}


{% include 'includes/nav-homepage-ur3.html' %}


<!-- <div class="topnav">
  <div class="govuk-body govuk-!-margin-bottom-4" style="float:left">

    <a href="../../../cards/pta/bta-homepage-a1" class="govuk-link govuk-link--no-visited-state">Home</a>

    <a href="../../messages/messages-inbox" class="govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">Messages <span class="badge">102</span><span class="govuk-visually-hidden">unread</span></a>

    <a href="/manage-account/ma-homepage-a1" class="govuk-link govuk-link--no-visited-state">Manage&nbsp;account</a>

    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Form&nbsp;tracker <span class="badge">1</span><span class="govuk-visually-hidden">unread</span></a>

    <a href="../../help-and-contact/help-and-contact" class="govuk-link govuk-link--no-visited-state">Help&nbsp;and&nbsp;contact</a>
  </div>

  <div class="govuk-body" style="padding-right:0; float:right;">
    <span>English |&nbsp;</span>
    <span ><a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;" style="padding-right:0; float:right;">Cymraeg</a></span>
  </div>
  
</div> -->
<!-- ///////////////////////////////////////// -->



<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">



    <h1 class="govuk-heading-xl">
      PAYE for employers messages
    
    </h1>
    <div class="">
      <!-- {% include "includes/back.html" %} -->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value govuk-!-width-two-thirds govuk-!-padding-top-4">
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
          View your tax code notices</a>
          <p>Notices about changes to your employees' <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">tax codes</a>.</p>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third govuk-!-padding-bottom-4"><span class="govuk-!-font-weight-bold" aria-hidden="false">0</span> unread messages</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value govuk-!-width-two-thirds govuk-!-padding-top-4">
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
          View your generic notices</a>
          <p>Notices we send if you are late for a payment or payroll submission.</p>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third govuk-!-padding-bottom-4"><span class="govuk-!-font-weight-bold" aria-hidden="false">6</span> unread messages</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value govuk-!-width-two-thirds govuk-!-padding-top-4">
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
          View your employer notices</a>
          <p>Includes tax credit notices.</p>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third govuk-!-padding-bottom-4"><span class="govuk-!-font-weight-bold" aria-hidden="false">0</span> unread messages</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value govuk-!-width-two-thirds govuk-!-padding-top-4">
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
          View your Real Time Information (RTI) notices</a>
          <p>Confirmations we send when we receive your payroll submissions, eg full payment submissions when you pay an employee.</p>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third govuk-!-padding-bottom-4"><span class="govuk-!-font-weight-bold" aria-hidden="false">12</span> unread messages</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value govuk-!-width-two-thirds govuk-!-padding-top-4">
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
          View your student loan notices</a>
          
          <p>Notices telling you when to start and stop making student loan deductions.</p>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-third govuk-!-padding-bottom-4"><span class="govuk-!-font-weight-bold" aria-hidden="false">0</span> unread messages</dd>
      </div>
    </dl>

    

    <div>
        <h2 class="govuk-heading-m">Notices preferences</h2>
        
            <p><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                Change how you get tax code and student loan notices</a></p>
                <p><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                    Change your notices email address</a></p>
      </div>

  </div>
</div>
{% endblock %}