{% extends "layout.html" %}

{% block pageTitle %}
MTA messages - GOV.UK
{% endblock %}

{% block content %}

<!-- //////////////////////////////////////// -->


{% include 'includes/nav-homepage-mtd-itsa.html' %}

<!-- ///////////////////////////////////////// -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Your Self Assessment and Making Tax Digital for Income Tax messages
    </h1>

    <p class="govuk-body">You have no new messages</p>

  </div>

  <div class="govuk-grid-column-full">

      <details class="govuk-details" data-module="govuk-details" style="padding-bottom:70px">
        <summary class="govuk-details__summary_noarrow" style="display:block;">
          <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
            Is this page not working properly?
          </span>
        </summary>
        <div class="">
        </div>
      </details>

    </div>
  </div>

{% endblock %}
