<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

  <h3 class="govuk-heading-s">You may have another HMRC online account</h3>

  <p span class="govuk-body govuk-inset-text">If you cannot find taxes that used to be here, they may be in another account.</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><p class="govuk-body" style="margin-bottom: 5px"><a href="#">Check if your Self Assessment is in another account</a></p></li>
    <li><p class="govuk-body" style="margin-bottom: 5px"><a href="#">Retrieve sign in details for your other account</a></p></li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h3 class="govuk-heading-s">Other services</h3>

  <p class="govuk-body"><a href="#">Anti-money laundering supervision</a></p>

</div>