
    <!-- //////////// COVID-19 BANNER /////////////////// -->

  <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-left-6 govuk-!-margin-bottom-6" style="background-color: #000;">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-!-margin-bottom-0">
        <a class="notice-banner__content" href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19" id="recruitment-page-link" data-journey-click="link - click:Your business taxes:Public Announcement" target="_blank" rel="noopener" style="font-weight: 700; color:#fff;">Coronavirus (COVID-19): what you need to do</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-half" style="font-weight: 700; color:#fff; text-align:right;">
      <a id="dismiss-user-panel" class="govuk-link" style="font-weight: 700; color:#fff; text-align:right;" href="#">Hide message</a>
    </div>
  </div>
