
    <!-- //////////// USER PANEL BANNER /////////////////// -->

    <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-left-6 govuk-!-margin-bottom-6" style="background-color: #203f6b;">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-!-margin-bottom-0">
          <a class="notice-banner__content" href="https://signup.take-part-in-research.service.gov.uk/?utm_campaign=List_BTA_Feb_21&utm_source=&utm_medium=other&t=HMRC&id=270" id="recruitment-page-link" data-journey-click="link - click:BTAhome" target="_blank" rel="noopener" style="color:#fff;">Help us make GOV.UK better (opens in new tab)
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third" style="color:#fff; text-align:right;">
        <a id="dismiss-user-panel" class="govuk-link" style="color:#fff; text-align:right;" href="#">No thanks</a>
      </div>
    </div>
  