
    <!-- //////////// USER PANEL BANNER /////////////////// -->

    <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-padding-top-0 govuk-!-padding-bottom-0" style="background-color: #1d70b8;">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-4">
        
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0 " style="color:#fff;">Do you report cross-border arrangements (DAC6)? </h3>
          <a class="notice-banner__content" href="https://zwgy80l7.optimalworkshop.com/questions/575r1z1o-0" id="recruitment-page-link" data-journey-click="link - click:BTAhome" target="_blank" rel="noopener" style="color:#fff;">Help us improve our service (opens in new tab).
          </a>
        
      </div>
      <div class="govuk-grid-column-one-third" style="color:#fff; text-align:right;">
        <a id="dismiss-user-panel" class="govuk-link" style="color:#fff; text-align:right;" href="#">No thanks<span class="govuk-visually-hidden"> I don’t want help you</span></a>
      </div>
    </div>
  