
  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          {{title}}
        </h2>
        {% if VAT_reg %}
        <p class="govuk-body">
          VAT registration number {{VAT_reg}}
        </p>
        {% endif %}
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-two-thirds">
          {% if message %}
          <p class="govuk-body">
            {{ message | safe }}
          </p>
          {% endif %}
          <p class="govuk-body">
            {{ link | safe }}
          </p>
        </div>
        
      </div>
    </div>
  </div>
