
  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          Corporation Tax
        </h2>
        <p class="govuk-body">
          Corporation Tax Unique Taxpayer Reference (UTR) 1234567890
        </p>
      </div>
      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Your returns
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-2">
          You may have returns to complete.
        </p>
        <p class="govuk-body">
          <a href="../../manage-account/ct-subpage-image" class="govuk-link govuk-link--no-visited-state">Find out if you have a Corporation Tax return to
            complete</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
        <div class="govuk-!-padding-bottom-2">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your balance
          </h3>
          <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            You owe <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£1,073</span>.
          </p>
        </div>
        <div class="govuk-!-padding-bottom-2">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
            Your card payments in the last 7 days
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            You paid £27 on 16&nbsp;October&nbsp;2018.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your payment reference number is 123456789X.
            It will take up to 7 days to update your balance after each payment.
          </p>
        </div>
        <p class="govuk-body">
          <a href="../../manage-account/ct-subpage-image" class="govuk-link govuk-link--no-visited-state">Make a Corporation Tax payment</a>
        </p>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body">
          <a href="../../manage-account/ct-subpage-image" class="govuk-link govuk-link--no-visited-state">More details about your Corporation Tax returns
            and payments</a>
        </p>
      </div>
    </div>
  </div>
