<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Get help using this service
    </span>
  </summary>
  <div class="govuk-details__text">
    Use this form to get help with using the digital service or understanding how your account is displayed. You
    will get an immediate acknowledgement email. Please reply to this email attaching screenshots (including URL) to
    show where you had the problem.
  </div>

  <div class="govuk-details__text">
    If you have a problem with billed amounts, credits or payments, first <a href="https://www.gov.uk/payroll-errors">check if you can fix this</a>, but if not you
    need to contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/employer-enquiries">employers helpline</a> who can see your account.
  </div>

  <div class="govuk-details__text">
  <h2 class="govuk-heading-m ">
    Get help with a technical problem
  </h2>
  <p class="govuk-body">Only use this form to report technical problems.</p>
  <p class="govuk-body">Do not include any personal or financial information. For example, your National Insurance or credit card numbers.</p>

  <form action="" class="form" id="form-help" method="post" name="form-help">

    <div class="govuk-form-group" id="user-id-header">
      <label class="govuk-label" for="full-name">Full name</label>
      <input class="govuk-input govuk-!-width-one-third" id="full-name" name="full-name" required="" type="text">
    </div>
    <div class="govuk-form-group" id="user-id-header">
      <label class="govuk-label" for="email">Email address</label>
      <input class="govuk-input govuk-!-width-one-third" id="email" name="email" required="" type="text">
    </div>
    <div class="govuk-form-group" id="user-id-header">
      <label class="govuk-label" for="what-doing">What were you doing?</label>
      <input class="govuk-input govuk-!-width-one-third" id="what-doing" name="what-doing" required="" type="text">
    </div>
    <div class="govuk-form-group" id="user-id-header">
      <label class="govuk-label" for="what-help">What do you need help with?</label>
      <input class="govuk-input govuk-!-width-one-third" id="what-help" name="what-help" required="" type="text">
    </div>

    <div class="form-field">
      <a class="govuk-button" href="#" role="button">Send</a>
    </div>
  </fieldset>
</form>
</div>
</details>