<!-- ///////////////////////////////// -->
<div class="govuk-grid-column-full card-container" id="cardAmount">
  <div class="card-body">

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
        Self Assessment
      </h2>
      <p class="govuk-body">
        Self Assessment Unique Taxpayer Reference 133759344
      </p>
    </div>


    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">

      <div class="govuk-inset-text govuk-!-margin-top-0 ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Self-Employment Income Support Scheme (SEISS)</h3>
        <p class="govuk-body">The third grant from the Self-Employment Income Support Scheme (SEISS) ended on 29
          January. You cannot make a new claim for the third grant.</p>
      </div>

    </div>


    <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Your returns
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-2">
          Tax year 2019 to 2020 is ready to complete.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          To avoid penalties, you must complete the return by 11:59pm on 10&nbsp;March&nbsp;2021.
        </p>
        <p class="govuk-body">
          <a href="../../sa-subpage/sa-subpage" class="govuk-link govuk-link--no-visited-state">Complete tax year 2019
            to 2020 Self Assessment return</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Your overdue payment
        </h3>
        <p class="govuk-body">
          You owe
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1 govuk-!-padding-right-1">£842</span>
          and it is late.
        </p>

        <p class="govuk-body">
          This amount is made up of:
        </p>
        <p class="govuk-body">
          <strong>£672</strong> - tax bill for 2018 to 2019.
        </p>
        <p class="govuk-body">
          <strong>£170</strong> - interest and penalties for 2018 to 2019.
        </p>
        <p class="govuk-body">
          Interest and penalties may be charged on all overdue amounts.
        </p>
        <p class="govuk-body">
          To avoid penalties, you must pay by 11:59pm on 15 December 2020. You have <strong>1 day left</strong>.
        </p>
 
        
        <h3 class="govuk-heading-s govuk-!-margin-top-5">
          Your next payment
        </h3>
        <p class="govuk-body">
          In addition to your overdue payment, you must pay:
        </p>
        <p class="govuk-body">
          <strong>£1,023</strong> by <strong>31 January 2021</strong> for tax year 2019 to 2020
        </p>
        <p class="govuk-body">
          <a href="../../sa-subpage/sa-subpage-old" class="govuk-body govuk-link govuk-link--no-visited-state">Make a
            Self Assessment payment</a>
        </p>

                
        <h3 class="govuk-heading-s govuk-!-margin-top-5">
          Your card payments in the last 7 days
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>You paid £37 on 16 June 2020.</li>
          <li>You paid £63 on 17 June 2020.</li>
          <li>You paid £100 on 18 June 2020.</li>
        </ul>
        <p class="govuk-body">
          Your payment reference number is 123456789K. 
          It will take up to 7 days to update your balance after each payment.
        </p>
        
      </div>
    </div>


    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
      <p class="govuk-body">
        <a href="../../sa-subpage/sa-subpage-covid" class="govuk-link govuk-link--no-visited-state">More details about
          your Self Assessment returns and payments</a>
      </p>
    </div>
  </div>
</div>

<!-- ///////////////////////////////// -->
