<!-- ///////////////////////////////// -->
<div class="govuk-grid-column-full card-container" id="cardAmount">
  <div class="card-body">

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Self Assessment
      </h2>
      <p class="govuk-body">
        Self Assessment Unique Taxpayer Reference 133759344
      </p>
    </div>


    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
      <div class="govuk-inset-text">
        <h3 class="govuk-heading-s">Self-Employment Income Support Scheme (SEISS)</h3>
        <p class="govuk-body">The third grant from the Self-Employment Income Support Scheme (SEISS) ended on 29
          January. You cannot make a new claim for the third grant.</p>
      </div>
    </div>


    <div class="govuk-grid-column-full">
      
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          Your returns
        </h3>
        <p class="govuk-body">
          Tax year 2019 to 2020 is ready to complete.
        </p>
        <p class="govuk-body">
          To avoid penalties, you must complete the return by 11:59pm on 10&nbsp;March&nbsp;2021.
        </p>
        <p class="govuk-body">
          <a href="../../sa-subpage/sa-subpage" class="govuk-link govuk-link--no-visited-state">Complete tax year 2019
            to 2020 Self Assessment return</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">
          Your overdue payment
        </h3>
        <p class="govuk-body">
          You owe <strong>£842</strong>. 
          Interest and penalties may be charged on all overdue amounts.
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><strong>£672</strong> - tax bill for 2018 to 2019.</li>
          <li><strong>£170</strong> - interest and penalties for 2018 to 2019.</li>
        </ul>


        <p class="govuk-body">
          <a href="../../sa-subpage/sa-subpage-old" class="govuk-body govuk-link govuk-link--no-visited-state">Make a
            Self Assessment payment</a>
        </p>

        <h3 class="govuk-heading-s">
          Your next payment
        </h3>
        <p class="govuk-body">
          You must also pay <strong>£1,023</strong> by <strong>31 January 2021</strong> for tax year 2019 to 2020
        </p>
      </div>


      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
        <p class="govuk-body">
          <a href="../../sa-subpage/sa-subpage-covid" class="govuk-link govuk-link--no-visited-state">More details about
            your Self Assessment returns and payments</a>
        </p>
      </div>

    </div>
  </div>
</div>

<!-- ///////////////////////////////// -->