<div class="topnav">
  <div style="float:left">
    
    <a href="/bta-homepage/bta-homepage-a2" class="govuk-link govuk-body govuk-link--no-visited-state">Home</a>
    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Messages</a>

   <a href="/manage-account/ma-homepage-a2" class="govuk-body govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">Manage&nbsp;account</a>

    <a href="../../help-and-contact/help-and-contact" class="govuk-link govuk-link--no-visited-state">Help&nbsp;and&nbsp;contact</a>
  </div>

  <div class="govuk-body" style="padding-right:0; float:right;">
    <span>English |&nbsp;</span>
    <span ><a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;" style="padding-right:0; float:right;">Cymraeg</a></span>
  </div>
</div>
