<div class="topnav">

  <div class="govuk-body govuk-!-margin-bottom-4" style="float:left">

    <a href="../../no-enrolments/homepage-admin-sa" class="govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">Home</a>

    <a href="../../messages/messages-inbox" class="govuk-link govuk-link--no-visited-state">Messages <span class="badge">10</span><span class="govuk-visually-hidden"> unread</span></a>

    <a href="/manage-account/ma-combo-1" class="govuk-link govuk-link--no-visited-state">Manage&nbsp;account </a>

    <!-- <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Form&nbsp;tracker <span class="badge">1</span><span class="govuk-visually-hidden"> unread</span></a> -->

    <a href="../../help-and-contact/help-and-contact" class="govuk-link govuk-link--no-visited-state">Help&nbsp;and&nbsp;contact</a>
  </div>

  <div class="govuk-body" style="padding-right:0; float:right;">
    <span class="govuk-body">English |&nbsp;</span>
    <span ><a class="govuk-body govuk-link govuk-link--no-visited-state" href="javascript:;" style="padding-right:0; float:right;">Cymraeg</a></span>
  </div>

</div>