<div class="language-toggle" >
    <p><span>English</span> | <a href="javascript:;">Cymraeg</a></p>
</div>

<nav id="nav">

  <div class="navbar govuk-grid-row" style="margin-left:0;">
    <ul class="navbar__list-items govuk-grid-column-full" style="margin-top: 0;">
      <li class="active">
        <a href="javascript:;">Home</a>
      </li>
      <li>
        <a href="javascript:;">Messages</a>
      </li>
      <li>
        <a href="javascript:;">Manage account</a>
      </li>
      <li>
        <a href="javascript:;">Form tracker</a>
      </li>
      <li>
        <a href="javascript:;">Help and contact</a>
      </li>
    </ul>
  </div>
  
</nav>

