<div class="topnav">
    <div style="float:left">

      <a href="/bta-homepage/bta-homepage-mtd-itsa" class="govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state">Home</a>

      <a href="/messages/5260-MTD-SA-messages-for-icome-tax" class="govuk-link govuk-link--no-visited-state">Messages
        <!-- {% if data['no_enrolment']==='true' %} -->

        <!-- {% else %} -->
        <span class="badge">2</span><span class="govuk-visually-hidden"> unread</span>
        <!-- {% endif %} -->
      </a>
      <a href="/manage-account/ma-homepage-mtd-itsa" class="govuk-link govuk-link--no-visited-state">Manage&nbsp;account</a>

      <a href="/help-and-contact/help-and-contact-mtd-itsa" class="govuk-link govuk-link--no-visited-state">Help&nbsp;and&nbsp;contact</a>

    </div>

    <div class="govuk-body" style="padding-right:0; float:right;">
      <span>English |&nbsp;</span>
      <span ><a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;" style="padding-right:0; float:right;">Cymraeg</a></span>
    </div>
  </div>
