  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: "nta", Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:#ffffff ;
}

.topnav a {
  float: left;
  color: #005ea5;
  text-align: center;
  padding: 12px;
  text-decoration: underline;
  font-size: 19px;

}

}
</style>
</head>
<body>

<div class="topnav">

  <a href="/homepage/homepage-redesignv2">Home</a>
  <a href="/homepage/manage-accountv2">Manage account</a>
  <a href="javascript:;">Messages</a>



</div>



</div>
</body>
