{% extends "layout_OLD.html" %}

{% block page_title %}
  Business tax account - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="grid-row" role="main">
  {% include 'cards/pta/includes/nav.html' %}
 
    <div class="column-two-thirds">

                    <div class="form-group">
    <h1 class="heading-xlarge"><span class="heading-secondary">Alex Fisher</span>Your PAYE for Employers<span class="form-hint">Employer PAYE reference : 1234567890 <br>Accounts Office reference: 840</span></h1>   
</div>

<div class="form-group">
<h2 class="heading-medium">Your payments</h2>

     
          <p>6 July deadline: <a href="/cards/pta/benefits-expenses">report and employee benefits and expenses</a> - submit<br> P11Ds</p>
     
     
      
</div>
<div class="form-group">
<p><span class="bold-small">£7,733.14 bill for month 8 </span>- <a href="javascript:;">see breakdown</a><span class="overdue">&emsp; &nbsp; &emsp; &emsp; |  &emsp;Overdue</span></p>
   <p><a class="button--tertiary" href="javascript:;">Pay bill</a></p>
</div>
<div class="form-group">
   <p><span class="bold-small">£625.97 bill for month 7 </span>- <a href="javascript:;">see breakdown</a><span class="overdue">&emsp; &nbsp; &ensp; &emsp; &emsp; |  &emsp;Overdue</span></p>
   <p><a class="button--tertiary" href="javascript:;">Pay bill</a></p>
  </div>
<div class="form-group">
   <p><span class="bold-small">£442.65 bill for month 6 </span>- <a href="javascript:;">see breakdown</a><span class="overdue">&emsp;&ensp; &nbsp; &emsp; &emsp; |  &emsp;Overdue</span></p>
   <p><a class="button--tertiary" href="javascript:;">Pay bill</a></p>
  </div>
  <div class="form-group">
   <p><span class="bold-small">£1,544.24 bill for month 5 </span>- <a href="javascript:;">see breakdown</a><span class="overdue">&emsp; &emsp; &emsp; |  &emsp;Overdue</span></p>
   <p><a class="button--tertiary" href="javascript:;">Pay bill</a></p>
  </div>
  <div class="form-group">
   <p><span class="bold-small">£708.09 bill for month 4 </span>- <a href="javascript:;">see breakdown</a><span class="overdue">&emsp;  &emsp; &emsp; &emsp;|  &emsp;Overdue</span></p>
   <p><a class="button--tertiary" href="javascript:;">Pay bill</a></p>
  </div>












      <div class="form-group">
        <p><a class="button--tertiary" href="javascript:;">Make a payment</a></p>
<p><a href="javascript:;">Pay your P11D</a> (by July 22)</p>
</div>
      <p><span class="bold-small"><a href="https://hmrc-businesstax-showcase.herokuapp.com/business-account/epaye/payments/2017">Payments history</a></span></p>
      <p><span class="bold-small"><a href="https://hmrc-businesstax-showcase.herokuapp.com/business-account/epaye/">See annual statements</a></span></p>
 
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>


</main>
{% endblock %}