{% extends "layout_OLD.html" %}

{% block page_title %}
  Business tax account - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="grid-row" role="main">
{% include 'cards/pta/includes/nav.html' %}


    <div class="column-two-thirds">

            <div class="homepage-section">        
     
                    <div class="form-group">
    <h1 class="heading-xlarge"><span class="heading-secondary">Alex Fisher</span>Your Self Assessment<span class="form-hint">Self Assessment Unique Taxpayer Reference (UTR): 1234567890</span></h1>   
</div>
            <h2 class="heading-medium">Your returns</h2>
        

            <div class="form-group">
                

                
                  <p>2017 to 2018 tax return due by 31 January 2018.</p>
                

                <p><a class="button" href="javascript:;">Complete Self Assessment return<span class="visually-hidden"> for the period of 2017 to 2018.</span></a></p>

            </div>

            <div class="form-group">
                <h3 class="heading-medium">Your payments</h3>
                <p>You have to make advance payments towards your tax bill for 2016 to 2017.</p>

                
                    <div>You need to pay £547.00 by 31 July 2017.</div>
                    <div><a href="javascript:;">How we worked this out (SA302)</a>.</div>
                    
                

                <p><a class="button--secondary" href="javascript:;">make a Self Assessment payment<span class="visually-hidden"> towards your tax bill for 2016 to 2017</span></a></p>
            </div>

            <div class="form-group">
                <h3 class="heading-medium">Reduce your payments on account</h3>
                <p>You can reduce the payments on your account, if</p>
                <ul class="list list-bullet">
                    <li>you expect your income will be lower</li>
                    <li>your allowances or reliefs will be higher</li>
                    <li>more of your income will be taxed at source</li>
                </ul>
                <div class="text panel panel-border-wide">
                    <p>You may be charged interest if you reduce your payments.</p>
                </div>
                <a class="button--tertiary" href="javascript:;">Reduce your payments on account<span class="visually-hidden"> reduce your payments on account</span></a></p>
              
            </div>
</div>
        

   <h2 class="heading-medium">More Self Assessment options</h2>

   <div class="form-group">
    
  
   

<p><a href ="what-do-you-expect">View previous years returns</a></p>   
<p><a href="what-do-you-expect">When to stop filing Self Assessment returns</a></p>
<p><a href="what-do-you-expect">When you are no longer self-employed</a></p>
<p><a href="what-do-you-expect">Set up a partnership or add a partner</a></p>
<p><a href="what-do-you-expect">Set up a trust</a></p>

<p><a href="what-do-you-expect">More</a></p>
</div>
</div>
<br>
<br>
<br>
<br>
<br>


</main>

{% endblock %}
