{% extends "layout.html" %}

{% block page_title %}
  Business tax account - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="grid-row" role="main">
{% include 'cards/pta/includes/nav.html' %}



    <div class="column-two-thirds">

                
     
                <div class="form-group">
                    <h1 class="heading-large"><span class="heading-secondary">Alex Fisher</span>Your taxes and account users</h1>
                </div>
<div class="form-group">
<table>
  <caption class="heading-medium">Your taxes</caption>
  <tbody>
    <tr>
      <td>Corporation tax</td>
      <td><a href="javascript:;">More details</a></td>
      <td><a href="javascript:;">How to stop</a></td>
    </tr>
    <tr>
      <td>VAT</td>
      <td><a href="https://www.prototypes.tax.service.gov.uk/vatvc-prototype/1-9-0/your-vat-details">More details</a></td>
      <td><a href="https://www.prototypes.tax.service.gov.uk/vat-choc-prototype/0-7-0/deregister">How to stop</a></td>    </tr>
    <tr>
      <td>Employers PAYE</td>
      <td><a href="javascript:;">More details</a></td>
      <td><a href="javascript:;">How to stop</a></td>    </tr>
     <td>Self Assessment</td>
      <td><a href="javascript:;">More details</a></td>
      <td><a href="javascript:;">How to stop</a></td>    </tr>
  </tbody>
</table>


</div>

<div class="form-group">
 
    <p><a href="add-tax">Add a tax to your account</a></p>
</div>

<div class="form-group">
     

 


 <h2 class="heading-medium">Your users</h2>
        You're signed in with a Government Gateway account.
    
<table>
  <caption class="heading-small"></caption>
  <tbody>

    <tr>
      <td>Password</td>
      <td><a href="javascript:;">Reset your password</a></td>
   </tr>
    <td><a href="javascript:;">Manage users</a></td>
 
  </tbody>
</table>

</div>

<div class="form-group">
     
  
    <table>
  <caption class="heading-medium">Accountants</caption>
  <tbody>
    <tr>
      <td>Corporation tax</td>
      <td><a href="javascript:;">View or change accountant</a></td>
      
    </tr>
    <tr>
      <td>VAT</td>
      <td>You can't manage this online</td>
          </tr>
    <tr>
      <td>Employers PAYE</td>
      <td><a href="javascript:;">View or change accountant</a></td>
      </tr>
        <tr>
      <td>Self Assessment</td>
      <td><a href="javascript:;">View or change accountant</a></td>
      </tr>
  
  </tbody>
</table>

</div>


</div>


</div>
</main>

{% endblock %}
