{% extends "layout_OLD.html" %}

{% block page_title %}
  Business tax account - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="grid-row" role="main">
{% include 'cards/pta/includes/nav.html' %}
 
    <div class="column-two-thirds">

  
    <h1 class="heading-xlarge">Your VAT details
    
    <span class="form-hint">VAT registration number (VRN):999952145</span></h1>


  <div class="form-group">
        <section class="divider--bottom">
            <div class="grid-row">
                <div class="column-one-half">
                           <h2 class="heading-medium" style="margin-top: 0px">Next return due</h2>
                        <p>7 August 2018</p>
                        <p><a class="button" href="return-deadlines.html">Complete VAT return</a></p>
                </div>

                <div class="column-one-half">
                     <h2 class="heading-medium" style="margin-top: 0px">Next payment due</h2>
                        <p>You have 2 payments due</p>
                        <p><a class="button--secondary" href="view-vat-payments">Make a payment</a></p>
          

                </div>
            </div>
        </section>
    
  <section class="divider--bottom">
            <div class="grid-row">
                 <div class="column-one-half">
                    <p><a href="your-previous-returns.html">Submitted returns</a></p>
                    
                      <p><a href="javascript:;">Change to annual filing</a></p>
                        <p"><a href="javascript:;">File monthly or change filing months</a></p>
                </div>
                <div class="column-one-half">
                    <p><a href="payment-history.html">Payment history</a></p>
                    
                    <p><a href="javascript:;">Paying by Direct Debit</a></p>
                </div>

             

      
        </section>
      
</div>


           
            <div class="grid-row">
                <div class="column-two-thirds">
                  <h4 class="heading-medium">Update your VAT details</h4>
                   
                    <p><a href="https://www.prototypes.tax.service.gov.uk/vat-choc-prototype/MVP/overview?company=sole">Tell us about changes to your business or VAT Returns</a></p>
                     <p><a href="javascript:;">Add a VAT service, e.g EC Sales List</a></p>

              </div>

              <!-- <div class="column-one-half">
                    <h3 class="heading-small"><a href="javascript:;">View VAT certificate (opens in a new tab)</a></h3>
                    <p>See your business information and other details.</p>
              </div> -->
            </div>
      <div class="form-group">
        <div class="grid-row">
          <div class="column-two-thirds">
        <h2 class="heading-medium">More VAT options</h2>

      
     


<p><a href="javascript:;">Get filing reminders</a></p>
<p><a href="javascript:;">View VAT certificate</a></p>

</div>
</div>
</div>



</main>
{% endblock %}