<aside class="sidebar sidebar">
  <div class="section--blue-top sidebar--hidden-sm" id="statement-sidebar">
    <h3 class="govuk-heading-s govuk-!-padding-top-4" id="user-name">TestUser</h3>

    <div id="user-references">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="reference_title">Your references</h3>

      <ul class="govuk-list">
        <li class="govuk-body govuk-!-font-size-16" id="epaye_sidebar_empref">
          Employer PAYE reference: 444/BB444
        </li>
      </ul>
    </div>

    <div id="other-options">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1" id="subsection-title">PAYE for employers</h3>
      <nav role="navigation">
        <ul class="govuk-list">
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="upcoming-payments"
              data-journey-click="EPAYESidebar:click:upcomingPayments" id="upcoming-payments">Upcoming payments</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="overdue-payments"
              data-journey-click="EPAYESidebar:click:overduePayments" id="overdue-payments">Overdue payments</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="statements"
              data-journey-click="EPAYESidebar:click:annualStatements" id="annual-summary">Annual statements</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="payment-history"
              data-journey-click="EPAYESidebar:click:paymentHistory" id="payments-history">Payment history</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="employment-allowance-status"
              data-journey-click="EPAYESidebar:click:employmentAllowanceStatus"
              id="employment-allowance-status">Employment Allowance status</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="#"
              data-journey-click="EPAYESidebar:click:fileReturnsAndForms" id="file-returns-and-forms">
              File returns and forms</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="make-a-payment"
              data-journey-click="EPAYESidebar:click:makePayment" id="make-a-payment">Make an early PAYE payment</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="messages"
              data-journey-click="EPAYESidebar:click:payeNotices" id="paye-employer-notices">PAYE notices</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="#"
              data-journey-click="EPAYESidebar:click:appealAPenalty" id="appeal-a-penalty">Appeal a penalty</a>
          </li>
          <li>
            <a class="govuk-body govuk-!-font-size-16" href="benefits-and-expenses"
              data-journey-click="EPAYESidebar:click:benefitsAndExpenses" id="employee-benefits-and-expenses">Benefits
              and expenses (P11D, P11D(b) and P46(car))</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</aside>