{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row">
  <form action="/manage-account/deregister/deregister-ct" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
                What do you need to do?
            </h1>
          </legend>
          <div class="govuk-radios govuk-!-padding-bottom-4">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deregister-ct-1" name="deregister-ct" type="radio" value="dormant">
              <label class="govuk-label govuk-radios__label" for="deregister-ct-1">
                Make my company dormant (it may trade again)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deregister-ct-2" name="deregister-ct" type="radio" value="close">
              <label class="govuk-label govuk-radios__label" for="deregister-ct-2">
                Close down my company (it will not trade again)
              </label>
            </div>

          </div>
        </fieldset>

      </div>

    </div>

</div>
<button class="govuk-button">Continue</button>
</form>
</div>
{% endblock %}