{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}
    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What do you want to deregister from?
          </h1>
        </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deregister-vat" name="deregister-vat" type="radio" value="vat">
              <label class="govuk-label govuk-radios__label" for="deregister-vat">
                Self Assessment
              </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="deregister-sa" name="deregister-sa" type="radio" value="sa">
                <label class="govuk-label govuk-radios__label" for="deregister-sa">
                    VAT
                </label>
              </div>

          </div>
      </fieldset>

  </div>

</div>

</div>
<button class="govuk-button">Continue</button>

{% endblock %}