{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Stop self-employment

    </h1>
    <p class="govuk-body">
      You're self-employed if you're a sole trader or in a partnership.
    </p>
    <p class="govuk-body">
      Do not use this helpline for:
    </p>

    <p class="govuk-body">
      <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Tell HMRC</a>.
    </p>
    <p class="govuk-body">Deregister for any other taxes related to your self-employment.
    </p>

    <h2 class="govuk-heading-l">Do you still need to file tax returns
    </h2>
    <p class="govuk-body">We'll send you a letter within a few weeks if you don't need to file tax returns anymore.
    </p>
    <p class="govuk-body">If you don't hear from us, you'll need to keep filing tax returns every year - unless you
      <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">call us</a> to ask if you can stop.
    </p>
  </div>

</div>

{% endblock %}