{% extends '../../../layouts/base.html' %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_contact__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
{% include '../../../includes/header_full_width.html' %}

<main id="content" class="grid-row" role="main">

    {{ govPageHeader(pageHeading) }}
    <div class="column-two-thirds">
    	<h2 class="heading-large-macro">Questions about Self Assessment</h2>
    	<p> If you have a tax query and cannot find an answer online, <a href="javascript:;">call us</a>.</p>

    	<h2 class="heading-large-macro">Webchat</h2>
    	<p><a href="javascript:;">Talk to an advisor online</a></p>

    	<h2 class="heading-medium">Postal address for HMRC</h2>
    	<p>For enquiries and penalty appeals, use this address:</p>
    	<p>Self Assessment<br>
    	   HM Revenue and Customs<br>
    	   BX91AS<br>
    	   United Kingdom<p>
    	   <p>You do not need to include a street name or PO box. Couriers should use a <a href="javascript:;"> different address</a>.</p>

    </div>
</main>


{% endblock %}