{% extends '../../../layouts/base.html' %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_expenses__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
{% include '../../../includes/header_full_width.html' %}

<main id="content" class="grid-row" role="main">

    {{ govPageHeader(pageHeading) }}
    <div class="column-two-thirds">
    	<h2 class="heading-large-macro">Expenses if you are self employed</h2>
    	<p>You put all of your allowable expenses for the tax year on your Self-assessment tax return. Do not send proof of your expenses with your tax return. Keep them so that you can show them to HMRC, if asked. </p>
    	<p>You can choose to use ‘Simplified expenses’ to work out some of your expenses using flat rates instead of working out your actual business costs. You can use flat rates for business costs for vehicles, working from home, living in your business premises. Keep records of your business miles for vehicles, hours you work at home and how many people live at your business premises over the year.</p>
    	<p>Simplified expenses cannot be used by limited companies or business partnerships involving a limited company. </p>
    	<p>If you do not use simplified expenses and if your business income is £83,000 or more, you need to enter each expense.</p>
    	<p>If your business income is below £83,000 for the full year, you can still list your expenses, but you can also choose to add them all together and show them as a total figure on your Self-assessment tax return.</p>
    	<p><a href="javascript:;">Expenses if you’re self-employed - video transcript</a></p>

    	<h2 class="heading-medium">Calculating motoring expenses</h2>
    	<p>You can claim business expenses for a number of things including fuel and vehicle insurance. You cannot claim for non-business driving, or for fines or travel between home and work.</p>
    	<p>You can claim either the actual costs, or a flat rate for business mileage. Once you have chosen one of these methods for a particular vehicle, you must continue to use it for that vehicle.</p>
    	<p>If you decide to use the actual costs, you will need to know how many miles the vehicle has done over the year. Then work out what percentage was for business. You can also claim a capital allowance for the purchase of the vehicle.</p>
    	<p>The flat rate covers the whole cost of buying, running and maintaining the vehicle – so you cannot claim a capital allowance for its purchase.</p>
    	<p><a href="javascript:;">Calculating motoring expenses - video transcript</a></p>


    </div>
</main>


{% endblock %}