{% extends "layout.html" %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_how_to_pay__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
{% include 'includes/nav-homepage-a1.html' %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Expenses</h1>
          <h2 class="govuk-heading-m">Expenses you can include in your Self Assessment tax return</h2>

        	<p>Include all of your allowable expenses for the tax year 6 April to 5 April on your Self Assessment tax return.</p>
        	<p>You do not need to send proof of your expenses when you file your tax return.</p>
        	<p>You should keep proof and records so that you can show them to HMRC if asked. You need to make sure your records are accurate.</p>

        	<p>
            <a href="https://www.gov.uk/expenses-if-youre-self-employed" target="_blank">Find out more about allowable expenses if you’re self-employed (opens in new tab)</a>
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=2V5K9gs6ZEs">Video - What expenses can I include in my Self Assessment tax return? (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/what_to_include_in_SA_tax_return">What expenses can I include in my Self Assessment tax return? - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">Simplified expenses</h2>

        	<p>Simplified expenses cannot be used by limited companies or business partnerships involving a limited company.</p>
        	<p>If you’re self-employed, or a business partnership, you can choose to use simplified expenses to work out some of your expenses using flat rates instead of working out your actual business costs.</p>
          <p class="govuk-body">You can use flat rates for business costs for:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>some vehicles</li>
            <li>working from home</li>
            <li>living in your business premises</li>
          </ul>

          <p class="govuk-body">Keep records during the tax year of:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>some vehicles</li>
            <li>hours you work at home</li>
            <li>how many people live at your business premises</li>
          </ul>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/simpler-income-tax-simplified-expenses">Find out more about simplified expenses (opens in new tab)</a>
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=T4UDYw9kCjA">Video - Cash basis and simplified expenses (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/cash_basis">Cash basis and simplified expenses - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">Claiming travel expenses if you’re self-employed</h2>
          <p class="govuk-body">You can claim allowable business expenses for items including fuel and vehicle insurance.</p>

          <p class="govuk-body">You cannot claim for non-business driving, or travel costs, or for fines or travel between home and work.</p>

          <p class="govuk-body">You can claim either the actual costs, or a flat rate for business mileage. Once you have chosen one of these methods for a particular vehicle, you must continue to use it for that vehicle.</p>

          <p class="govuk-body">If you decide to use the actual costs, you will need to know how many miles the vehicle has done over the year. Then work out what percentage was for business. You can also claim a capital allowance for the purchase of the vehicle.</p>
          <p class="govuk-body">The flat rate covers the whole cost of buying, running and maintaining the vehicle – so you cannot claim a capital allowance for its purchase.</p>

          <h2 class="govuk-heading-m">More help with claiming travel expenses</h2>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/expenses-if-youre-self-employed/travel">Travel expenses if you’re self-employed (opens in new tab)</a>
          </p>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/simpler-income-tax-simplified-expenses/vehicles-">Simplified motoring expenses if you’re self employed (opens in new tab)</a>
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=r2txvLXi_Fk">Video - Claiming motoring expenses if you’re self-employed (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/motoring-expenses">Claiming motoring expenses if you’re self-employed - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">Basic record keeping when you’re self-employed</h2>

          <p class="govuk-body">You must record any money going in and out of your business, whether the transaction is made:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>in person</li>
            <li>by phone</li>
            <li>online</li>
          </ul>

          <p>
            Keep your records on paper or digitally using a computer. These include items such as invoices, sale receipts, proof of purchases and bank statements. Remember your records must be accurate, clear and complete.
          </p>

          <p>
            Some software suppliers offer free record keeping apps for small businesses. How you keep your records will depend on whether you use the traditional or cash basis method of accounting, and how you work out your expenses.
          </p>

          <p>
            You’ll find it easier if you organise your income and expenses into categories and update these regularly. Remember to back up your files if you’re keeping your records digitally.
          </p>

          <p>
            You must keep your business and personal transactions separate. It is not an allowable business expense to use money from your business for personal purposes.
          </p>

          <p>
            If you’re VAT registered, you’ll also need to keep records of how much VAT you’ve paid your suppliers and charged your customers.
          </p>

          <p>
            If your income is above the VAT threshold, you’ll need to submit your records to us using Making Tax Digital software.
          </p>

          <p>
            You must keep your records for at least 5 years after the 31 January submission deadline of the relevant tax year. HMRC may check your records to make sure you’re paying the right amount of tax.
          </p>

          <p>
            Example: For the tax year 2019 to 2020, the submission deadline is 31 January 2021. Keep your records until at least 31 January 2026.
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=FCHvuD8xsw4">Video - Basic record keeping for the self employed (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/record-_keeping">Basic record keeping for the self employed - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">More help with record keeping</h2>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-employed-records">Business records if you’re self-employed (opens in new tab)</a>
          </p>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/keeping-your-pay-tax-records">Keeping your pay and tax records (opens in new tab)</a>
          </p>

          <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
            <summary class="govuk-details__summary_noarrow" style="display:block;">
              <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
                Is this page not working properly?
              </span>
            </summary>
            <div class="">

            </div>
          </details>





      </div>
    </div>

  </main>
</div>




{% endblock %}
