{% extends "layout.html" %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_how_to_pay__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-width-container">
  <!-- <a href="https://bta-cards-prototype.herokuapp.com/help-and-contact/help-and-contact" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help with your Self Assessment tax return</h1>
        <h2 class="govuk-heading-m">Self Assessment tax returns</h2>
        <p>Self Assessment is a system HM Revenue and Customs (HMRC) uses to collect Income Tax.</p>
        <p>Income Tax is usually deducted automatically from wages, pensions and savings.</p>
        <p>People and businesses with other income must report it by filing a Self Assessment tax return.</p>

        <p class="govuk-body">Self Assessment is used by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the self-employed</li>
          <li>sole traders</li>
          <li>individuals such as company directors</li>
          <li>partners in partnerships</li>
          <li>trustees</li>
          <li>other similar people</li>
        </ul>

        <p>If you receive a tax return, or a notice to file, you must complete a return and submit it to HMRC.</p>

        <p>
          <a href="https://www.gov.uk/self-assessment-tax-returns/who-must-send-a-tax-return" target="_blank">Who must file a Self Assessment tax return (opens in new tab)</a>
        </p>


        <p>If you must file a tax return, you do so after the end of the tax year it applies to.</p>
        <p>The Self Assessment tax year is 6 April to 5 April. For the tax year 6 April 2020 to 5 April 2021, you must file your return by 31 January 2022.</p>
        <p class="govuk-body">You need to register for Self Assessment if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you must file a tax return for 2020 to 2021</li>
        </ul>
        <p>and</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you did not file one for the tax year 2019 to 2020</li>
        </ul>

        <p class="govuk-body">You should allow up to 20 working days if you have never filed an online tax return before.</p>

        <p class="govuk-body">To file your tax return online, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be registered for Self Assessment</li>
          <li>
              <a href="../../manage-account/add-sa/do-you-have-utr">add Self Assessment to your tax account</a>
          </li>
          <li>complete and file your tax return by 31 January 2022</li>
          <li>pay what you owe by 31 January 2022</li>
        </ul>

        <p class="govuk-body">If you do not register, file or pay on time, you may have to pay a penalty.</p>

        <p>If you have not received a notice to file a Self Assessment tax return, you can
          <a href="https://www.gov.uk/check-if-you-need-tax-return" target="_blank">check anonymously if you need to file a return (opens in new tab)</a>.
        </p>

        <h2 class="govuk-heading-m">Registering for Self Assessment</h2>

        <p>
          <a href="https://www.staging.tax.service.gov.uk/business-account/help/self-assessment/register-or-stopping">Find out more about registering for Self Assessment online</a>.
        </p>

        <h2 class="govuk-heading-m">Why you must complete and file a Self Assessment tax return</h2>

        <p class="govuk-body">You will usually be sent a tax return or a letter about a tax return if you are registered as self-employed.</p>
        <p class="govuk-body">You must file your tax return even if you have no tax to pay. If you do not file it by the deadline, you may have to pay a penalty.</p>

        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=UovlY9zQBvM">Video - Why have I been sent a tax return? (opens in new tab)
            </a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/why_tax_return">Why have I been sent a tax return? - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">If you do not need to complete and file a Self Assessment tax return</h2>
        <p>
          If you used to file a tax return but do not need to file one for the most recent tax year,
          <a class="govuk-link" rel="noreferrer noopener" href="https://www.staging.tax.service.gov.uk/business-account/self-assessment/stop">tell HMRC to stop Self Assessment</a>.
        </p>
        <p class="govuk-body">You must also tell us as soon as you have stopped being self-employed.</p>

        <h2 class="govuk-heading-m">Your first Self Assessment tax return</h2>

        <p class="govuk-body">A tax return is a form on which you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>report details of your taxable income</li>
          <li>claim tax allowances and tax reliefs</li>
        </ul>

        <p class="govuk-body">HMRC may issue a tax return to you each tax year. The Self Assessment tax year runs from 6 April one year to 5 April the next year.</p>

        <p class="govuk-body">If you receive a tax return, or a notice to file (SA316), the law says you must complete it.</p>

        <p class="govuk-body">We use the information on your tax return to work out your tax bill or whether you are due a tax refund.</p>

        <p class="govuk-body">We use the information on your tax return to work out your tax bill or whether you are due a tax refund.</p>

        <p class="govuk-body">If this is your first tax return, you must register for Self Assessment before you can complete and file your return.</p>

        <p>
          <a class="govuk-link" rel="noreferrer noopener" href="register-deregister">Find out more about registering for Self Assessment online</a>.
        </p>

        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=EkRFUO9S7Hw">Video - My first Self Assessment tax return (opens in new tab)
            </a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener"  href="../transcripts/first_SA_tax_return">My first Self Assessment tax return - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">Help with completing and filing your tax return</h2>
        <p>Watch videos, get email alerts, take part in webinars and
          <a class="govuk-link" rel="noreferrer noopener" href="https://www.gov.uk/guidance/help-and-support-for-self-assessment" target="_blank">learn more about Self Assessment (opens in new tab)</a>.
        </p>

        <h2 class="govuk-heading-m">How to tailor your return</h2>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=nOJcs4XJ-tk">Video - How do I tailor my Self Assessment tax return? (opens in new tab)
            </a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/tailor_SA_tax_return">How do I tailor my Self Assessment tax return? - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">If you are self-employed</h2>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=jdHBPiWNnyA">Video - Your self-employed tax return (opens in new tab)
            </a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/SE_tax_return">Your self-employed tax return - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">If you have income from property</h2>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=DCUZy4ASz1A">Video - If I have income from property, how do I fill in my tax return? (opens in new tab)
            </a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/tax_return_property">If I have income from property, how do I fill in my tax return? - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">Viewing your Self Assessment calculation</h2>
        <p class="govuk-body">HMRC’s online tax return automatically works out how much you need to pay. You fill in your figures and once you have checked that everything is correct, you can view your calculation.</p>

        <p class="govuk-body">The calculation shows:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how your tax bill has been worked out</li>
          <li>your income</li>
          <li>your personal allowance</li>
          <li>the tax due</li>
          <li>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-employed-national-insurance-rates">any class 2 and class 4 National Insurance contributions (opens in new tab)</a>
          </li>
        </ul>

        <p class="govuk-body">You can print a copy of the calculation for your records.</p>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=UACv0_mjbms">Video - Viewing your Self Assessment tax return calculation (opens in new tab)</a>
          </p>
          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/viewing_SA_tax_returns_calculations">Viewing your Self Assessment tax return calculations - video transcript</a>
          </p>
        </div>

        <h2 class="govuk-heading-m">More help with Self Assessment</h2>

        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-assessment-tax-returns/who-must-send-a-tax-return">Who must file a tax return (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-assessment-tax-returns/corrections">If you need to change your tax return (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" href="payment-and-penalties">How to pay your Self Assessment</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/topic/personal-tax/self-assessment">Self Assessment resource list (opens in new tab)</a>
        </p>

        <h2 class="govuk-heading-m">Basic record keeping when you’re self-employed</h2>

        <p class="govuk-body">You must record any money going in and out of your business, whether the transaction is made:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in person</li>
          <li>by phone</li>
          <li>online</li>
        </ul>



        <p>Keep your records on paper or digitally using a computer. These include items such as invoices,
          sale receipts, proof of purchases and bank statements. Remember your records must be accurate, clear and complete.
        </p>

        <p>Some software suppliers offer free record keeping apps for small businesses. How you keep your records will
          depend on whether you use the traditional or cash basis method of accounting, and how you work out your expenses.
        </p>

        <p>You’ll find it easier if you organise your income and expenses into categories and update these regularly.
          Remember to back up your files if you’re keeping your records digitally.
        </p>

        <p>You must keep your business and personal transactions separate. It is not an allowable business expense to use money
          from your business for personal purposes.
        </p>

        <p>If you’re VAT registered, you’ll also need to keep records of how much VAT you’ve paid your suppliers and charged your customers.</p>

        <p>If your income is above the VAT threshold, you’ll need to submit your records to us using Making Tax Digital software.
        </p>

        <p>You must keep your records for at least 5 years after the 31 January submission deadline of the relevant tax year.
           HMRC may check your records to make sure you’re paying the right amount of tax.
        </p>

        <p>Example: For the tax year 2019 to 2020, the submission deadline is 31 January 2021. Keep your records until at least 31 January 2026.


        <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=FCHvuD8xsw4">Video - Basic record keeping for the self employed (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/record-_keeping">Basic record keeping for the self-employed - video transcript</a>
            </p>
        </div>

        <h2 class="govuk-heading-m">More help with record keeping</h2>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-employed-records">Business records if you’re self-employed (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-employed-records/what-records-to-keep">Keeping your pay and tax records (opens in new tab)</a>
        </p>

        <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
          <summary class="govuk-details__summary_noarrow" style="display:block;">
            <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
              Is this page not working properly?
            </span>
          </summary>
          <div class="">

          </div>
        </details>


  </main>
</div>




{% endblock %}
