{% extends "layout.html" %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_how_to_pay__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">





      <h1 class="govuk-heading-xl">Self Assessment: payment and penalties</h1>
    	<h2 class="govuk-heading-m">When to pay your Self Assessment tax bill</h2>
      <p class="govuk-body">The deadlines for paying are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>31 January 2022 for your balancing payment. This is for tax year 2020 to 2021</li>
        <li>31 January 2022 for your first payment on account. This is for tax year 2021 to 2022</li>
        <li>31 July 2022 for your second payment on account. This is for tax year 2021 to 2022</li>
      </ul>

      <p>You do not have to wait until 31 January or 31 July to pay. If you do, you might miss the deadline, depending on how you pay.</p>


    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'Pu0XogdzFH4',
          events: {

            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>


    	<p> <a href ="https://www.gov.uk/understand-self-assessment-bill/payments-on-account" target="_blank">
            Understanding balancing payments and payments on account (opens in new tab)
          </a>
      </p>



    	<h2 class="govuk-heading-m">How to pay your Self Assessment tax bill</h2>

      <p>
        Make sure you pay HMRC by the deadline. You’ll be charged interest and may have to
        <a href ="https://www.gov.uk/understand-self-assessment-bill/payments-on-account" target="_blank">
            pay a penalty
        </a>
        if your payment is late.
      </p>

      <p>The time you need to allow depends on how you pay.</p>

      <p>You can no longer pay at the Post Office.</p>

      <p>
        <a href="https://www.gov.uk/pay-self-assessment-tax-bill" target="_blank">
            Read detailed information about ways to pay your tax bill (opens in new tab)
        </a>
      </p>

      <div class="govuk-inset-text">
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=gfuEtUYOrgA">Video - How do I pay my Self Assessment tax bill? (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/pay_SA_taxBill">How do I pay my Self Assessment tax bill? - video transcript</a>
        </p>
      </div>



    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'sI03I5ZdDrw',
          events: {

            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>





<br>


    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 's24M389lWJg',
          events: {

            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>


      <h2 class="govuk-heading-m">Viewing your Self Assessment calculation</h2>

      <p>HMRC’s online tax return automatically works out how much you need to pay. You fill in your figures and once you
        have checked that everything is correct, you can view your calculation.
      </p>

      <p class="govuk-body">The calculation shows:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how your tax bill has been worked out</li>
        <li>your income</li>
        <li>your personal allowance</li>
        <li>the tax due</li>
        <li>
          <p>
            <a href="https://www.gov.uk/self-employed-national-insurance-rates" target="_blank">
                any class 2 and class 4 National Insurance contributions (opens in new tab)
            </a>
          </p>
        </li>
      </ul>

      <p>You can print a copy of the calculation for your records.</p>

      <div class="govuk-inset-text">
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=UACv0_mjbms">Video - Viewing your Self Assessment tax return calculation (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/viewing_SA_tax_returns_calculations">Viewing your Self Assessment tax return calculations - video transcript</a>
        </p>
      </div>

      <h2 class="govuk-heading-m">Budgeting for your Self Assessment tax bill</h2>

      <div class="govuk-inset-text">
        <p>
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=T2EBuV7Vy28">Video - How do I budget for my Self Assessment tax bill? (opens in new tab)</a>
        </p>
        <p>
          <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/how_do_I_budget_for_SA">How do I budget for my Self Assessment tax bill? - video transcript</a>
        </p>
      </div>

      <h2 class="govuk-heading-m">Penalties</h2>

      <p class="govuk-body">You’ll have a penalty showing on your account if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sent in your tax return late</li>
        <li>paid tax late</li>
        <li>didn’t pay enough tax</li>
        <li>the tax due</li>
      </ul>

      <h2 class="govuk-heading-m">Appealing a penalty</h2>

      <p>If your business has been affected by coronavirus (COVID-19), you have an extra 3 months to appeal any penalty dated February 2020 or later.</p>
      <p>You can appeal a penalty if you have a
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/tax-appeals/reasonable-excuses">reasonable excuse</a>,
        for example you had an unexpected stay in hospital. You must appeal within 30 days of the date the penalty was sent to you.
      </p>

      <h2 class="govuk-heading-m">Your penalties and interest</h2>

      <p>You have no penalties or interest to display.</p>

      <h2 class="govuk-heading-m">Your penalties and interest</h2>

      <p>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/tax-appeals/penalty">Find out more about Self Assessment penalties (opens in new tab)</a>,
      </p>
      <p>
        <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/rates-and-allowances-hmrc-interest-rates-for-late-and-early-payments">Interest rates for late and early payments (opens in new tab)</a>,
      </p>

      <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
        <summary class="govuk-details__summary_noarrow" style="display:block;">
          <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
            Is this page not working properly?
          </span>
        </summary>
        <div class="">
        </div>
      </details>






    </div>
</main>


{% endblock %}
