{% extends "layout.html" %}
{% set serviceName = messages__common__service_name %}
{% set pageHeading = messages__help_and_contact_sa_how_to_pay__heading%}

{% block page_title %}
{{ pageHeading }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
{% include 'includes/nav-homepage-a1.html' %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Self Assessment: registering or stopping</h1>
          <h2 class="govuk-heading-m">Self Assessment tax returns</h2>
        	<p>Self Assessment is a system HM Revenue and Customs (HMRC) uses to collect Income Tax.</p>

        	<p>Income Tax is usually deducted automatically from wages, pensions and savings.</p>

        	<p>People and businesses with other income must report it by filing a Self Assessment tax return.</p>

          <p class="govuk-body">Self Assessment is used by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the self-employed</li>
            <li>sole traders</li>
            <li>individuals such as company directors</li>
            <li>partners in partnerships</li>
            <li>trustees</li>
            <li>other similar people</li>
          </ul>

          <p>If you receive a tax return, or a notice to file, you must complete a return and submit it to HMRC.</p>

          <p>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-assessment-tax-returns/who-must-send-a-tax-return">Who must file a Self Assessment tax return (opens in new tab)</a>
          </p>

          <p>If you must file a tax return, you do so after the end of the tax year it applies to.</p>

          <p>The Self Assessment tax year is 6 April to 5 April. For the tax year 6 April 2020 to 5 April 2021, you must file your return by 31 January 2022.</p>

          <p class="govuk-body">You need to register for Self Assessment if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you must file a tax return for 2020 to 2021</li>
          </ul>

          <p>and</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>you did not file one for the tax year 2019 to 2020</li>
          </ul>

          <p>You should allow up to 20 working days if you have never filed an online tax return before.</p>

          <p class="govuk-body">To file your tax return online, you should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be registered for Self Assessment</li>
            <li><a class="govuk-link" rel="noreferrer noopener"  href="../../manage-account/add-sa/do-you-have-utr">add Self Assessment to your tax account</a></li>
            <li>complete and file your tax return by 31 January 2022</li>
            <li>pay what you owe by 31 January 2022</li>
          </ul>

          <p>If you do not register, file or pay on time, you may have to pay a penalty.</p>

          <p>If you have not received a notice to file a Self Assessment tax return, you can
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/check-if-you-need-tax-return">check anonymously if you need to file a return (opens in new tab).</a>
          </p>

          <h2 class="govuk-heading-m">Class 2 National Insurance contributions</h2>

          <p>When you register for Self Assessment as self employed, you are also registering for
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/self-employed-national-insurance-rates">Class 2 National Insurance contributions (opens in new tab).</a>
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=ueoEgsDysP0">Video - Class 2 National Insurance contributions and your Self Assessment tax return (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener"  href="../transcripts/class2-NI-SA-return">Class 2 National Insurance contributions and your Self Assessment tax return - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">Registering for Self Assessment</h2>

          <p class="govuk-body">Your Self Assessment Unique Taxpayer Reference (UTR) is a 10 digit number. You can find it on:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your Welcome to Self Assessment letter (SA250)</li>
            <li>tax returns you completed in previous years</li>
            <li>other documents from HMRC</li>
          </ul>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/find-lost-utr-number">You can find your UTR (opens in new tab) if you do not know it.</a>
          </p>

          <h2 class="govuk-heading-m">If you are not self-employed</h2>

          <p>If you did not file a tax return last year and have to file one this year,
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/publications/self-assessment-register-for-self-assessment-and-get-a-tax-return-sa1">use form SA1 to register for Self Assessment (opens in new tab).</a>
          </p>

          <h2 class="govuk-heading-m">If you are self-employed</h2>

          <p>If you did not file a tax return last year and have to file one this year,
            <a class="govuk-link" rel="noreferrer noopener" href="../../manage-account/add-sa/do-you-have-utr">register for Self Assessment.</a>
          </p>

          <h2 class="govuk-heading-m">If you are a partner or partnership</h2>

          <p>You will need the Unique Taxpayer Reference (UTR) for the partnership and your own personal UTR if you already have one.</p>

          <p>If it is a new partnership, the nominated partner will also have to register the partnership.</p>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="https://www.gov.uk/register-for-self-assessment/partner-or-partnership">Find out more about registering as a partner or partnership (opens in new tab).</a>
          </p>

          <h2 class="govuk-heading-m">Self Assessment guidance</h2>

          <p>
            <a class="govuk-link" rel="noreferrer noopener" href="https://www.gov.uk/guidance/help-and-support-for-self-assessment">Learn about Self Assessment (opens in new tab)</a>
          </p>

          <div class="govuk-inset-text">
            <p>
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.youtube.com/watch?v=L8F6micVczE">Video - Registering for Self Assessment (opens in new tab)</a>
            </p>
            <p>
              <a class="govuk-link" rel="noreferrer noopener" href="../transcripts/registering_for_SA">Registering for Self Assessment - video transcript</a>
            </p>
          </div>

          <h2 class="govuk-heading-m">Stopping Self Assessment</h2>

          <p>You must
            <a class="govuk-link" rel="noreferrer noopener" href="https://www.staging.tax.service.gov.uk/business-account/self-assessment/stop">tell HMRC if you do not need to file tax returns any more.</a>
          </p>

          <p class="govuk-body">This could be because you are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>stopping self-employment</li>
            <li>no longer trading as a sole trader</li>
            <li>ending or leaving a business partnership</li>
          </ul>

          <p>You will need to send final tax returns and tell employees that you are closing your business.</p>

          <p>We will stop your Self Assessment and cancel your Class 2 National Insurance contributions.</p>
          <p>Stopping your Class 2 National Insurance contributions may mean you lose certain benefits.</p>
          <p>You can choose to stay registered for these contributions after stopping Self Assessment if you want to make voluntary payments. This will allow you to claim benefits like Tax-Free Childcare or Maternity Allowance.</p>

          <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
            <summary class="govuk-details__summary_noarrow" style="display:block;">
              <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
                Is this page not working properly?
              </span>
            </summary>
            <div class="">

            </div>
          </details>








      </div>
    </div>

  </main>
</div>




{% endblock %}
