$panel-colour: govuk-colour("grey-3");
$page-colour: govuk-colour("white");

.card {
  border: 1px solid $panel-colour;

  &.inactive {
    color: $govuk-secondary-text-colour;
  }

  .card-heading {
    margin-top: 0;
  }

  .card-body {
    border-bottom: 1px solid $panel-colour;
    padding: 12px;

    *:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: govuk-colour("grey-4");
      transition: .1s ease-in-out;

      .card-heading a {
        color: $govuk-link-colour;
        margin-top: 0;
      }
    }

    .status {
      border-radius: 0;
      color: $page-colour;
      margin: 0 -12px 8px -12px;
      padding: 12px 12px 6px;
      transition: .1s ease-in;
    }

    .status-low {
      border: 1px solid $govuk-secondary-text-colour;
      color: $govuk-text-colour;
    }

    .status-high {
      background-color: $govuk-link-colour;
      border: 1px solid $govuk-link-colour;      
      line-height: 1.5em;
      min-height: 3.4em;
    }

    .status-med {
      background-color: $govuk-secondary-text-colour;
      border: 1px solid $govuk-secondary-text-colour;
    }

    .detail-large {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .detail {
      font-weight: 600;
      margin-bottom: 8px;
    }
    
  }

  .card-action {
    border-top: 0;
    padding: 12px;

    a {
      border-bottom: 1px solid #C7DCEB;
      color: $govuk-link-colour;
      text-decoration: none;
      line-height: 1.5em;

      &:link,
      &:visited {
        color: $govuk-link-colour;
      }

      &:hover {
        border-bottom: 1px solid $govuk-link-colour;
        color: #2e8aca;
      }
    }

    ul {
      margin: 0;

      li {
        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }  
    }
  }
}

.js-enabled {
  .card-body {
    &.active {
      &:hover {
        background-color: $panel-colour;
        color: $govuk-text-colour;
        cursor: pointer;
        transition: .3s ease-in-out;
        // transition-delay: .25s;

        .card-heading a{
          color: $govuk-link-colour;
          transition-delay: .25s;
        }

        .status-low {
          border: 1px solid $page-colour;
          color: $govuk-text-colour;
          transition-delay: .25s;
        }

        .status-med {
          background-color: $govuk-link-colour;
          border: 1px solid $page-colour;
          color: $govuk-text-colour;
          transition-delay: .25s;
        }

        .status-high {
          border: 1px solid $govuk-link-colour;
          transition-delay: .25s;
        }

        .detail-large {
          color: $govuk-text-colour;
          transition-delay: .25s;
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}
