{% extends "layout.html" %}

{% block page_title %}
Business Tax Account - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}
{% include 'includes/nav-homepage-a4.html' %}

<!-- /////////////////////////////// -->


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-6">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Claiming motoring expenses if you’re self-employed - video transcript</h1>

          <p class="govuk-body">
            If you work for yourself, you might use your car, van or motorcycle for both business and personal use.
            You can claim business expenses for a number of things, including fuel, vehicle insurance and parking.
            You cannot claim for non-business driving costs, fines or travel between home and work.
          </p>

          <p class="govuk-body">
            There are 2 ways of working out your motor expenses. Either by using the actual costs method, or a flat rate for
            business mileage.
          </p>

          <p class="govuk-body">
            Whichever way you choose, you must continue to use it for that vehicle.
          </p>

          <p class="govuk-body">
            If you use the actual costs method, you’ll need to know how many miles the vehicle has done during the relevant tax year
             – then work out what percentage of those were for business use only.
          </p>

          <p class="govuk-body">
            For example, if the total running costs were £6,000, and 75% of the miles were for business use,
            you would include £4,500 on your Self Assessment tax return.
          </p>

          <p class="govuk-body">
            If you’re using traditional accounting and the actual costs method, you can also claim a Capital Allowance
            for the purchase of the vehicle itself. You can find out more about Capital Allowances on GOV.UK.
          </p>

          <p class="govuk-body">
            If you claim expenses using the flat rate for business mileage method, you’ll find the current rates on GOV.UK.
          </p>

          <p class="govuk-body">
            You must keep a record of how many business miles you travel.
          </p>

          <p class="govuk-body">
            The flat rate covers the whole cost of buying, running and maintaining the vehicle –
            so you can’t claim a capital allowance for its purchase or any other motoring expense.
          </p>

          <p class="govuk-body">
            You can find more information about on GOV.UK.
          </p>

          <p class="govuk-body" style="padding-bottom:60px">
            <a href="https://www.gov.uk/expenses-if-youre-self-employed" target="_blank">www.gov.uk/expenses-if-youre-self-employed</a>
          </p>

          <a class="report-error__toggle js-visible" id="get-help-action" href="https://www.staging.tax.service.gov.uk/contact/report-technical-problem?service=helpandcontactfrontend">Is this page not working properly?</a>




    </div>
</div>











  </div>











    </div>





{% endblock %}
