{% extends "layout.html" %}

{% block page_title %}
{{ pageHeading }}
-
{{ serviceName }}
- GOV.UK
{% endblock %}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-right-0">

	<div class="govuk-grid-column-two-thirds govuk-!-margin-right-0 govuk-!-margin-bottom-4">

		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">

			<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
				Business Tax Account: Sign&nbsp;in or register
			</h1>

		</div>

		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">

			<p role="text" class="govuk-body govuk-!-margin-bottom-2">
				Contents
			</p>
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
				<li><a href="../cards\pta\government-gateway-a1.html" class="govuk-link govuk-link--no-visited-state">Sign in to HMRC online services</a></li>
				<li><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Problem signing in</a></li>
				<li>Set up a business tax account</li>
			</ul>
		</div>

	</div>

	<div class="govuk-grid-column-two-thirds govuk-!-margin-right-0 govuk-!-margin-bottom-4">

		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">

			<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

		</div>

		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">

			<h3 class="govuk-heading-l govuk-!-margin-bottom-4">
				Set up a business tax account
			</h3>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">

				Set up a business tax account to access your tax information in one place.
			</p>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">

				You do not need different sign-in details for each of your taxes. You can manage all of your taxes in
				one business tax account. It will give you an overview of:
			</p>
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

				<li>your previous and upcoming tax returns</li>
				<li>how much you owe</li>
				<li>your payments</li>
			</ul>
			</p>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">

				You register when you tell HMRC that you:
			</p>
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
				<li><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">want a personal tax account</a></li>
				<li>are an individual who needs to <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">send a
						Self Assessment tax return (for example to report rental, investment or self-employment
						income)</a></li>
				<li>have set up a limited company, or other organisation that needs to <a href="javascript:;"
						class="govuk-link govuk-link--no-visited-state">pay Corporation Tax</a></li>
			</ul>

			<p role="text" class="govuk-body govuk-!-margin-bottom-2">
				You also register when you tell HMRC that your business needs to:
			</p>
				<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">

				<li>operate PAYE because you’ve started to employ people</li>
				<li>charge VAT because your taxable turnover is over £85,000</li>
</ul>

		</div>
		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">

			<h3 class="govuk-heading-l govuk-!-margin-bottom-4">

				What you can do
			</h3>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">

				Use the business tax account to:
			</p>

			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
				<li>add or remove a tax from your online account</li>
				<li>assign team members to manage your taxes for you</li>
				<li>update your contact details</li>
				<li>access other tax services</li>
				<li>See any tax related messages</li>
				<li>Track the progress of your forms and applications</li>
				<li>Get help with your taxes</li>
			</ul>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">

				The business tax account is for businesses and self-employed individuals. You need a personal tax
				account to
				access non-business taxes, like your pension, NI contributions, benefits and tax credits.
			</p>
		</div>
		<div class="govuk-grid-column-full govuk-!-margin-right-0 govuk-!-margin-bottom-4">
			<h3 class="govuk-heading-l govuk-!-margin-bottom-4">
				What happens next
			</h3>
			<p role="text" class="govuk-body govuk-!-margin-bottom-2">
				After you set up your business tax account you need to add taxes to your account. We will send you an
				activation code in the post which you need to use to complete activation and manage your taxes online.
			</p>
		</div>
	</div>

	<div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">

		<div class="govuk-!-margin-bottom-4">
			<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
		</div>

		<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
			Related content
		</h3>
		<p><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Gwasanaethau ar-lein Cyllid a Thollau EM yn y Gymraeg</a></p>
		<p><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">HMRC service availability and issues</a></p>

	</div>

</div>

{% endblock %}