{% extends "layout.html" %}

{% block page_title %}
Corporation Tax account - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p>Try again later.</p>
        <p class="govuk-body">Go back to your <a href="/bta-homepage/bta-homepage-a9" class="govuk-body govuk-link govuk-link--no-visited-state" aria-hidden="true">business tax summary</a>, or <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/soft-drinks-industry-levy" class="govuk-body govuk-link govuk-link--no-visited-state" aria-hidden="true">contact HMRC</a> for help.</p>
        
        
    </div>
</div>

{% endblock %}