{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% include "includes/back.html" %}
    <div class="govuk-form-group">

      <h1 class="govuk-heading-xl">
        Add or delete a team member
      </h1>

      <div class="govuk-!-margin-bottom-6">

        <p class="govuk-body"> After you add a new team member you need to return to manage account to give them access to your taxes and schemes. 

        </p>
      </div>


      <form action="add-a-team-member"  >
        <input class="govuk-button" type="submit" value="Continue"/>
      </form>
      <!-- <button class="govuk-button">Continue</button> -->

    </div>

  </div>


</div>

</div>

</div>

{% endblock %}