{% set serviceName = "" %}
{% extends "layout.html" %}}
{% block page_title %}
  Government gateway
{% endblock %}
{% block content %}
  <main class="govuk-main-wrapper" id="content" role="main">

    <div class="govuk-column-two-thirds">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-padding-bottom-8">
          <h1 class="govuk-fieldset__heading">
            What can they do?
          </h1>
        </legend>

        <p class="govuk-body-l govuk-!-font-weight-bold">They can work on taxes in the same way you can.
        </p>

       <p class="govuk-body govuk-!-font-weight-regular">For example filing returns or submitting payments. 
      </p>

     
        <div class="form-field">
          <a class="govuk-button" href="add-user-what-they-can-do-reveal" role="button">Continue</a>
        </div>
      </fieldset>
    </form>
    
    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Report a problem</a>
{% endblock %}