{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a2.html' %}

<div class="govuk-width-container">
  <a href="team-members-gg.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <h1 class="govuk-heading-l">Give a team member access</h1>
        <p class="govuk-body">You can give your team members access to the taxes and schemes you want them to manage.</p>
      </div>
    </div>
      <a class="govuk-button"  href="manage-team-member.html" class="govuk-button">Continue to give access</a>
  
    <p><a href="../../manage-account/ma-homepage-a2" class="govuk-link govuk-link--no-visited-state">Return to manage account</a> </p>
  </main>
</div>




{% endblock %}