{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% include "includes/back.html" %}

    <h1 class="govuk-heading-xl govuk-!-padding-bottom-2">
      Account users
    </h1>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

    <table class="govuk-table">

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
          <td class="govuk-table__cell govuk-!-padding-bottom-6">
            <a href="javascript:;">Add new user</a><br>
            <a href="javascript:;">Delete user</a><br>
            <a href="javascript:;">Manage user access</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Self Assessment</th>
          <td class="govuk-table__cell">Mary Poppings</td>
        </tr>

        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row">Corporation Tax</th>
          <td class="govuk-table__cell">Amos Welsh</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Elvis Lacey</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Jolyon Findlay</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Mackenzie Dejesus</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Maverick East</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Mira Martin</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Lily-anne Prince</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Alima Mcdowell-Lebond</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
          <td class="govuk-table__cell">Finnian Glenn</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row">EPAYE</th>
          <td class="govuk-table__cell">Farah Wheeler</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Dimitri Davies</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
          <td class="govuk-table__cell">Neil Burton</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row">VAT</th>
          <td class="govuk-table__cell">Lily-anne Prince</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="border-bottom: 0;" scope="row"></th>
          <td class="govuk-table__cell">Dimitri Davies</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"></th>
          <td class="govuk-table__cell">Finnian Glenn</td>
        </tr>

      </tbody>
    </table>

  </div>

  <!-- ///////////////////////////////////////////////////////////////////  -->

</div>

{% endblock %}