{% extends "layout.html" %}

{% block pageTitle %}
Business tax summary - GOV.UK
{% endblock %}




{% block content %}

{% include 'includes/nav-homepage-a2.html' %}

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Business tax summary</h1>
  <span class="govuk-caption-xl govuk-!-margin-bottom-8">View and access your business taxes in one place</span>

  <!-- //////////////  ADD A TAX  /////////////////// -->

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2 govuk-!-margin-bottom-2">

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Add a tax, duty or scheme to this account</h2>


        <p class="govuk-body">Set up your business tax account by adding a tax, duty or scheme. <br/>A summary card will appear here.</p>
<!--         <p class="govuk-body">If you have used the online service to access your taxes before and they are not here, they may be in a different account. </p> -->
        <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="../manage-account/add-tax-a1">
          Get online access to a tax, duty or scheme </a></p>
      </div>
    </div>
  </div>
<!-- 
  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          Set up your business tax account
        </h2>
      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          Get online access to a tax, duty or scheme
        </h3>
        <p>
          When you <a class="govuk-link govuk-link--no-visited-state" href="../manage-account/add-tax-a1">add a tax duty, or scheme </a>to your
          account it will appear here.
          Set up your business tax account by adding a tax, duty or scheme. A summary card will appear here. 
        </p>
      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
          You may have another account
        </h3>
        <p role="text" class="govuk-body govuk-!-margin-bottom-2">
          If you have used the online service to access your taxes before and they are not here, they may be in a
          different account.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          <a href="../manage-account/add-sa/do-you-have-utr" class="govuk-body govuk-link govuk-link--no-visited-state">Check if your Self Assessment is in
            another account</a>
        </p>
        <p class="govuk-body">
          <a href="../manage-account/add-sa/wrong-credentials" class="govuk-body govuk-link govuk-link--no-visited-state">Retrieve sign in details for your other
            account</a>
        </p>
      </div>
    </div>
  </div> 

 -->
<!-- 
<hr class="govuk-grid-column-full govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
 -->
<!-- 
<div class="govuk-grid-column-two-thirds govuk-!-padding-0">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <a href="../../manage-account/add-tax-a1"
      class="govuk-body govuk-link govuk-link--no-visited-state">Get online access to a tax, duty or scheme</a>
      </span>
    </summary>
    <div class="govuk-details__text">
      Set up your business tax account by adding a tax, duty or scheme. A summary card will appear here.
    </div>
    <div class="govuk-details__text">
      If you have used the online service to access your taxes before and they are not here, they may be in a different account.
    </div>
  </details>
</div>
 -->

<!--  
<hr class="govuk-grid-column-full govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
 -->
<!-- ////////////////////// PROCESSING TIMES ////////////////////////// -->
<div class="govuk-grid-column-two-thirds govuk-!-padding-0">
  <div class="govuk-inset-text govuk-!-margin-top-0">
    <p>Your balance will update 2 days after you complete your return. <br>Payments take up to 7 working days to be
      processed.</p>
  </div>
</div>

<!-- /////////////////////// CARDS  //////////////////////// -->

  <!-- ///////////////////////////////// -->

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          Self Assessment
        </h2>
        <p class="govuk-body">
          Unique Taxpayer Reference 1234567890.
        </p>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h3 class="govuk-heading-s">
          Changes to Self Assessment
        </h3>
        <p class="govuk-body">
          If you are self-employed or a landlord, you can now choose to sign up to Making Tax Digital. Instead of filing one annual Self Assessment tax return, you will use compatible software to send quarterly Income Tax updates and keep digital records.
        </p>
        <p class="govuk-body">
          <a href="https://income-tax-vc-prototype.herokuapp.com/5-1-1/bta-home#" class="govuk-link govuk-link--no-visited-state" target="blank">
            Find out more about Making Tax Digital for Income Tax (opens in new tab)
          </a>
        </p>
      </div>

    </div>
  </div>

  <!-- ///////////////////////////////// -->

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          Personal tax account
        </h2>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-2">
          For your non-business taxes, benefits, National Insurance and State&nbsp;Pension.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Personal taxes</a>
        </p>
      </div>

    </div>
  </div>

  {% endblock %}