{% extends "layout.html" %}

{% block pageTitle %}
Business tax summary - GOV.UK
{% endblock %}

{% block content %}

{% include 'includes/nav-homepage-mtd-itsa.html' %}

<!-- /////////////////////////////// -->

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Business tax summary</h1>
  <span class="govuk-caption-xl govuk-!-margin-bottom-8">View and access your business taxes in one place</span>

  <!-- //////////////  ADD A TAX  /////////////////// -->

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2 govuk-!-margin-bottom-2">

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Add a tax, duty or scheme to this account</h2>


        <p class="govuk-body">Set up your business tax account by adding a tax, duty or scheme.</p>
        <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="../manage-account/add-tax-mtd-itsa">
            Get online access to a tax, duty or scheme </a></p>
      </div>
    </div>
  </div>

  <!-- //////////////  GO PAPERLESS  /////////////////// -->


  <div class="govuk-grid-column-full card-container">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          Making Tax Digital for Income Tax
        </h2>
        <!-- <p class="govuk-body">
          Self Assessment Unique Taxpayer Reference: 1234567890
        </p> -->
      </div>

      <!-- <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <div class="govuk-inset-text govuk-!-margin-top-0 ">
          <p><b>Get tax letters online </b></p>
          <p class="govuk-body">
            <a href="https://bta-cards-prototype.herokuapp.com/manage-account/account-details/go-paperless-signup-mtd-itsa" class="govuk-link govuk-link--no-visited-state">Get
            Self Assessment and Making Tax Digital for Income Tax letters online
          </a>.
          You can view, download or print them when you want. Save time and clear clutter.</p>
        </div>
      </div> -->

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <div class="govuk-inset-text govuk-!-margin-top-0 ">
          <p><b>Add Self Assessment to your business tax account</b></p>
          <p class="govuk-body">
            You must
            <a href="https://bta-cards-prototype.herokuapp.com/manage-account/add-tax-mtd-itsa">
              add Self Assessment to this account
            </a>
            to manage it online.
          </p>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <p class="govuk-body">Use software to update and submit your Income Tax return. This replaces your annual Self Assessment return.
          <a href="https://bta-cards-prototype.herokuapp.com/login/help_making_tax_digital_for_income_tax">
            Find out more about Income Tax</a>.
        </p>
      </div>



      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <p class="govuk-!-margin-bottom-0">
          <a href="https://income-tax-vc-prototype.herokuapp.com/6-7-0/income-tax-account" class="govuk-link govuk-link--no-visited-state">Manage your Income Tax details</a>
        </p>

      </div>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-0">
      <p>
        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="https://bta-cards-prototype.herokuapp.com/manage-account/account-details/go-paperless-signup-mtd-itsa" class="govuk-link govuk-link--no-visited-state">
        Get Self Assessment and Making Tax Digital for Income Tax letters online
        </a>
      </p>
    </div>

  </div>

  <!-- //////  SA CARD ///////// -->



  {% if preference ==='online' %}

  {% else %}

<!--   <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2 govuk-!-margin-bottom-2">

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Get tax letters online</h2>


        <p class="govuk-body"><a href="/manage-account/account-details/go-paperless-signup-mtd-itsa" class="govuk-link govuk-link--no-visited-state">Get
            Self Assessment and MTD Income Tax letters online</a>. You can view, download or print them when you want.
          Save time and clear clutter.</p>
      </div>
    </div>
  </div> -->

  <!-- BTA card (customer has chosen post) -->

  <!-- <p class="govuk-body">BTA card (customer has chosen post)</p> -->


  {% endif %}

  <!-- //////            ANCILARY          ///////// -->

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-4 govuk-!-padding-left-0 govuk-!-padding-top-4">
    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

      <h3 class="govuk-heading-s">You may have another HMRC online account</h3>

      <p span="" class="govuk-body govuk-inset-text">If you cannot find taxes that used to be here, they may be in another account.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><p class="govuk-body" style="margin-bottom: 5px"><a href="#">Check if your Self Assessment is in another account</a></p></li>
        <li><p class="govuk-body" style="margin-bottom: 5px"><a href="#">Retrieve sign in details for your other account</a></p></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-s">Other services</h3>

      <p class="govuk-body"><a href="#">Anti-money laundering supervision</a></p>

    </div>

  </div>
</div>

{% endblock %}
