{% extends "layout.html" %}

{% block page_title %}
  Corporation Tax account - GOV.UK
{% endblock %}

{# {% import "../../includes/card-template.html" as card %} #}

{% block content %}

  {% include 'includes/nav-homepage-a1.html' %}

  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

    {# <div class="gov-uk-column-two-thirds">
      <h1 class="govuk-heading-xl">Alex Fisher</h1>
    </div> #}

    <h2 class="govuk-heading-l">Your taxes 3</h2>


    {# ///////////////////////////// #}

    <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6 govuk-!-padding-top-0 card-border-top" id="cardAmount">
      <div class="card-body">

        <div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-1 govuk-!-margin-bottom-4 govuk-section-break--visible card-header-3">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            <h2 class="govuk-heading-s ">
              Corporation Tax 1
            </h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-body-s govuk-!-font-weight-bold">Unique Taxpayer Reference (UTR): 123456789</span>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
            <li>
              <span class="govuk-body govuk-!-font-weight-bold inline-padding-right">Your are</span>
              <span class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold inline-padding-right">£1,732</span>
              <span class="govuk-body govuk-!-font-weight-bold inline-padding-right">in credit</span>
            </li>
            <li>
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Find out how we worked this out</a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-half">
          <p>Corporation Tax is calculated and paid annually based on your 'Corporation Tax accounting period'.</p>
        </div>

      </div>
    </div>

    {# ///////////////////////////// #}

    <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6 govuk-!-padding-top-0 card-border-top" id="cardAmount">
      <div class="card-body">

        <div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-1 govuk-!-margin-bottom-4 govuk-section-break--visible card-header-3">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            <h2 class="govuk-heading-s">
              Corporation Tax 2
            </h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-body-s govuk-!-font-weight-bold">Unique Taxpayer Reference (UTR): 123456789</span>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
            <li>
              <p class="govuk-body govuk-!-font-weight-bold">You have nothing to pay</a>
            </li>
            <li>
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View statement</a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-half">
          <p>Corporation Tax is calculated and paid annually based on your 'Corporation Tax accounting period'.</p>
        </div>

      </div>
    </div>

    {# ///////////////////////////// #}

    <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6 govuk-!-padding-top-0 card-border-top" id="cardAmount">
      <div class="card-body">

        <div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-1 govuk-!-margin-bottom-4 govuk-section-break--visible card-header-3">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            <h2 class="govuk-heading-s">
              Corporation Tax 3
            </h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-body-s govuk-!-font-weight-bold">Unique Taxpayer Reference (UTR): 123456789</span>
          </div>
        </div>

        <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
          <span class="govuk-body govuk-!-font-weight-bold" style="display:inline; padding-right: 0.5em;">You owe
          </span><span style="display:inline; padding-right: 0.5em;" class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">£1,073</span>
          <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Find out how we worked this out</a>
        </div>

        {# <div class="govuk-grid-column-one-half">
          <p>Check what you owe, make a payment, complete a return and view your payment history.</p>
        </div> #}

            <div class="govuk-grid-column-full govuk-!-font-size-19">
              <span class="govuk-!-padding-right-4">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Make a payment</a>
              </span>
              <span class="govuk-!-padding-right-4">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete a return</a>
              </span>
              <span class="govuk-!-padding-right-4">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More Corporation Tax details</a>
              </span>
            </div>


      </div>
    </div>
    {# ///////////////////////////// #}

    <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6 govuk-!-padding-top-0 card-border-top" id="cardAmount">
      <div class="card-body">

        <div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-1 govuk-!-margin-bottom-4 govuk-section-break--visible card-header-3">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            <h2 class="govuk-heading-s">
              Corporation Tax 4
            </h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-body-s govuk-!-font-weight-bold">Unique Taxpayer Reference (UTR): 123456789</span>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
            <li>
              <p class="govuk-body govuk-!-font-weight-bold">No balance information to display</a>
            </li>
            <li>
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More Corporation Tax information</a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-half">
          <p>Corporation Tax is calculated and paid annually based on your 'Corporation Tax accounting period'.</p>
        </div>

      </div>
    </div>

    {# ///////////////////////////// #}

    <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6 govuk-!-padding-top-0 card-border-top" id="cardAmount">
      <div class="card-body">

        <div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-1 govuk-!-margin-bottom-4 govuk-section-break--visible card-header-3">
          <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            <h2 class="govuk-heading-s">
              Corporation Tax 5
            </h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <span class="govuk-body-s govuk-!-font-weight-bold">Unique Taxpayer Reference (UTR): 123456789</span>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
            <li>
              <p class="govuk-body govuk-!-font-weight-bold">We can't display your Corporation Tax information at the moment</a>
            </li>
            <li>
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More Corporation Tax information</a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-one-half">
          <p>Corporation Tax is calculated and paid annually based on your 'Corporation Tax accounting period'.</p>
        </div>

      </div>
    </div>

    {# ////////////  PLUS CARD  ///////////////// #}

    {# <div class="govuk-grid-column-full card-container govuk-!-margin-bottom-6" id="cardAmount">
      <div class="card-body">

        <div style="text-align: center; padding: 2.5em 0 1em;">
          <img src="/public/images/icon-plus.svg" alt="plus icon"/>

          <h2 class="govuk-heading-m" style="text-align: center; color: #6f777b; padding-bottom: 1em;">
            Add a tax
          </h2>
        </div>
      </div>
    </div> #}

  </div>

{% endblock %}