{% extends "layout.html" %}

{% block page_title %}
  Business tax account - GOV.UK
{% endblock %}

{% block content %}

  <main id="content" role="main">
    {% include 'cards/pta/includes/nav-homepage-1.html' %}


    <a class="govuk-back-link" href="bta-homepage-a1">Back</a>

    <h2 class="govuk-heading-xl">Your messages</h2>

    <p>
      <a href="javascript:;">Account messages</a>
      - includes helpdesk replies</p>
    <p>
      <a href="javascript:;">VAT messages</a>
      - includes VAT MOSS and NOVA messages</p>
    <p>
      <a href="javascript:;">PAYE for employers messages</a>
      <p>
        <a href="javascript:;">Self Assessment messages</a>
      </p>
      <h3 class="govuk-heading-m">Non-business taxes</h3>
      <p>To view messages about non-business taxes like your pension,
        <br>
        benefits or tax credits, use your
        <a href="javascript:;">personal tax account</a>.</p>
      <br>
      <a class="font-xsmall" href="javascript:;">Is there anything wrong with this page?</a>
    </div>

  </main>

{% endblock %}