{% extends "layout.html" %}

{% block page_title %}
    Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

    <!-- //////////// COVID-19 BANNER /////////////////// -->

    <div class="govuk-grid-row  govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-left-6 govuk-!-margin-bottom-6" style="background-color: #000;">
        <div class="govuk-grid-column-one-half">
            <p class="govuk-!-margin-bottom-0">
                <a class="notice-banner__content" href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19" id="recruitment-page-link" data-journey-click="link - click:Your business taxes:Public Announcement" target="_blank" rel="noopener" style="font-weight: 700; color:#fff;">Coronavirus (COVID-19): what you need to do</a>
            </p>
        </div>
        <div class="govuk-grid-column-one-half" style="font-weight: 700; color:#fff; text-align:right;">
            <a id="dismiss-user-panel" class="govuk-link" style="font-weight: 700; color:#fff; text-align:right;" href="#">Hide message</a>
        </div>
    </div>

    <!-- //////////// NAVIGATION BAR /////////////////// -->

    {% include 'includes/nav-homepage-a2.html' %}

    <!-- /////////////////////////////// -->

    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Your Self Assessment</h1>

            <!-- //////// COVID-19 WARNING AND CONTACT FORM ///////////////// -->

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <div class="govuk-!-margin-bottom-2">
                        <a href="https://www.gov.uk/coronavirus/business-support" target="_blank" class="govuk-link govuk-link--no-visited-state">Find support for businesses about coronavirus (COVID-19) (opens in new tab)</a>
                    </div>
                    {# ////////////////////// #}

                </strong>
                <!-- <div class="govuk-warning-text__text">
                <a href="..\bta-homepage\bta-homepage-covid19-sa-form.html" class="govuk-link govuk-body govuk-link--no-visited-state">
                    Contact HMRC if you need more information
                </a>
                </div> -->
            </div>

            <!-- //////////////// PROCESSING TIMES ////////////// -->
            <div class="govuk-!-padding-0">
                <div class="govuk-inset-text govuk-!-margin-top-0">
                    <p>Payments will take up to 7 working days to show, depending on how you pay. After you complete your return your tax calculation will take up to 2 days.</p>
                </div>
                <div class="govuk-inset-text govuk-!-margin-top-0">
                  <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Get tax letters online</h3> -->
                    <p><b>Get Self Assessment tax letters online. </b><class="govuk-body"><a href="/manage-account/account-details/go-paperless-signup" class="govuk-link govuk-link--no-visited-state">Find out more</a></p>
                </div>




            </div>


            <!-- /////////////////////// CARDS //////////////////////// -->

            <div class="govuk-warning-text govuk-!-padding-bottom-6">

                <!-- /////////////////////// -->

                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
                    Your returns</h2>

                <!-- <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        Deadline details
                    </h3>

                    <div style="background-color: #fbede9;">
                        <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="border-left-width:5px; padding:.7em;border-color:#d4351c;">
                            <p style="color: #d4351c; font-weight:bolder">
                                2016 to 2017 tax return
                                <span style="border-left: 1px solid #d4351c; padding-left: 1em; margin-left:1em;">Late</span>
                            </p>
                        </div>
                    </div>
                    <p>
                        <a id="penalties-2017" href="https://www.gov.uk/self-assessment-tax-returns/penalties" data-journey-click="link - click:Self Assessment:Penalties 2017" class="penalties-and-appeals govuk-link--no-visited-state">Penalties</a>
                        may be charged for late returns.
                    </p>

                    <button href="sa-subpage-penalties" class="govuk-button" data-module="govuk-button">
                        Complete your 2016 to 2017 tax return
                    </button>
                </div> -->
                <!-- <div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        Deadline details
                    </h3>

                    <div style="background-color: #fbede9;">
                        <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="border-left-width:5px; padding:.7em;border-color:#d4351c;">
                            <p style="color: #d4351c; font-weight:bolder">
                                2017 to 2018 tax return
                                <span style="border-left: 1px solid #d4351c; padding-left: 1em; margin-left:1em;">Late</span>
                            </p>
                        </div>
                    </div>
                    <p>
                        <a id="penalties-2017" href="https://www.gov.uk/self-assessment-tax-returns/penalties" data-journey-click="link - click:Self Assessment:Penalties 2017" class="penalties-and-appeals govuk-link--no-visited-state">Penalties</a>
                        may be charged for late returns.
                    </p>

                    <button href="sa-subpage-penalties" class="govuk-button" data-module="govuk-button">
                        Complete your 2017 to 2018 tax return
                    </button>
                </div> -->

                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Deadline details
                </h3>

                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="border-left-width:5px; padding:.7em;border-color:#b1b4b6;">
                    <p>
                        2018 to 2019 tax return due by 14 December 2019.
                    </p>
                </div>

                <button href="sa-subpage-penalties" class="govuk-button" data-module="govuk-button">
                    Complete your 2018 to 2019 tax return
                </button>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Your balance</h2>

                <p>
                    You can no longer use a personal credit card. If you pay with a credit card, it must be linked to a business bank account.
                </p>

                <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Deadline details
                </h3>

                <div style="background-color: #fbede9;">
                    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-3" style="border-left-width:5px; padding:.7em;border-color:#d4351c;">
                        <p style="color: #d4351c; font-weight:bolder">
                            &pound;48.00
                            <span style="border-left: 1px solid #d4351c; padding-left: 1em; margin-left:1em;">Overdue</span>
                        </p>
                    </div>
                </div>

                <p>Pay now to avoid further penalties.</p> -->

                <div class="govuk-inset-text govuk-!-margin-top-0 ">
                 <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Delay July's Self Assessment payment</h3>

                 <p>Your second Self Assessment payment on account for the tax year April 6 2019 to April 5 2020 is due by 31 July 2020. If you cannot pay because of coronavirus you can <class="govuk-body"><a href="https://www.gov.uk/guidance/defer-your-self-assessment-payment-on-account-due-to-coronavirus-covid-19" target="_blank" class="govuk-link govuk-link--no-visited-state">delay (defer) your Self Assessment payment until 31 January 2021 (opens in new tab)</a>.</p>
                 <p>You do not need to apply or tell HMRC: it will automatically count as a deferral if you do not pay. You’ll need to cancel your Direct Debit if you set one up for July.</p>
                 <p>If you do not pay it all by 31 January 2021, you may get a penalty and interest charges on any unpaid amounts.</p>
               </div>

               <!-- <div class="govuk-inset-text govuk-!-margin-top-0 ">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Delay July's Self Assessment payment</h3>
                <p>Your second Self Assessment payment on account for the tax year 6 April 2019 to 5 April 2020 is due by 31 July 2020. If you cannot pay because of coronavirus (COVID-19), you have until 31 January 2021 to pay your bill. <class="govuk-body"><a href="https://www.gov.uk/guidance/defer-your-self-assessment-payment-on-account-due-to-coronavirus-covid-19" target="_blank" class="govuk-link govuk-link--no-visited-state">Check how you can delay your second payment on account due to coronavirus (opens in a new window or tab)</a>.</p>
                <p>If you do not pay by 31 January 2021, you may get a penalty and interest charges on any unpaid amounts.</p>
                <p>If you pay by Direct Debit, you must cancel it as soon as possible.</p>
              </div> -->

                <button href="/business-account/payment/sa/true" class="govuk-button" data-module="govuk-button" style="background-color: #1d70b8;">
                    Make a Self Assessment payment
                </button>

                <p class="govuk-body govuk-!-margin-bottom-6">
                    <a href="../manage-account/account-details/go-paperless-with-hmrc" class="govuk-link govuk-link--no-visited-state">Sign up for email reminders</a>
                </p>

                <!-- /////////////////////// -->
                <!-- /////////////////////// -->

                <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Previously submitted returns</h2>

                <ul class="govuk-list govuk-!-margin-bottom-6">
                    <li>
                        <a class="govuk-link govuk-body govuk-!-font-weight-bold govuk-link--no-visited-state" href="sa-subpage-tax-return-options">6 April 2012 to 5 April 2013</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="sa-subpage-tax-year-overview">View your tax year overview</a>
                    </li>
                </ul>

                <!-- ///////////////////////////////// -->

                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-bottom-4">
                    More Self Assessment options
                </h2>

                <ul class="govuk-list govuk-!-margin-bottom-6">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="javascript:;">Do I need to submit a return?</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/stop-being-self-employed" target="_blank"> When you are no longer self-employed (opens in a new window or tab)</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/check-if-you-need-tax-return" target="_blank">When to stop sending Self Assessment returns (opens in a new window or tab)</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="javascript:;">Set up a partnership or add a partner (opens in a new window or tab)</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="javascript:;">Set up a trust</a>
                    </li>
                </ul>

                <p>
                    <a class="govuk-link govuk-body-s" href="javascript:;">Is there anything wrong with this page?</a>
                </p>
            </div>
        </div>

            <!-- ////////////////////////////////////// -->
            <!-- ////////////////////////////////////// -->
            <!-- ////////////////////////////////////// -->

        <div class="govuk-grid-column-one-third  govuk-!-margin-top-6  govuk-!-padding-left-6 govuk-!-padding-right-0">
            <hr class="govuk-section-break govuk-section-break--visible" style="border-bottom: 10px solid #1d70b8;">
            <div class="govuk-!-padding-top-4">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-4">
                    Welcome, Alex Fisher
                </h2>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Help with tax
                </h3>

                <ul class="govuk-list govuk-!-margin-bottom-6">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="javascript:;">Help and contact</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="javascript:;">Online seminars to learn about tax</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
