{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<!-- /////////////////////////////// -->


<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

    <span class="govuk-caption-xl govuk-!-margin-bottom-2">Self Assessment UTR: 1097172564</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Amy Smith’s Self Assessment</h1>

    <!-- ///////////////////////////////////////////////////// -->

    <div class="govuk-grid-column-two-thirds govuk-!-padding-0 ">
        <div class="govuk-inset-text govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            <p>All payments take up to 7 working days to show on this page.<br>After you complete your return, it takes
                up to 2 days to show what you owe.</p>
        </div>
    </div>


    <!-- ///////////////////////////////// -->


    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-padding-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Your returns
        </h2>

        <p class="govuk-body govuk-!-margin-bottom-2">
            Tax year 2018 to 2019 is ready to complete.
        </p>
        <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            To avoid penalties, you must complete the return by 11:59pm on 31&nbsp;January&nbsp;2019. You have <span
                class="govuk-!-font-weight-bold">101
                days left</span>.
        </p>
        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete Self Assessment return</a>
        </p>

    </div>


    <!-- ///////////////////////////////////////////////////// -->


    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-padding-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Your balance
        </h2>

        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Tax 2017 to 2018 tax bill</caption> -->
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Your 2017 to 2018 tax bill</th>
                    <td class="govuk-table__cell">£53.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Payment deadline</th>
                    <td class="govuk-table__cell">30 April 2019</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Account balance</th>
                    <td class="govuk-table__cell">£48.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Outstanding amount due</th>
                    <td class="govuk-table__cell">£5.00</td>
                </tr>
            </tbody>
        </table>


        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Make a Self Assessment payment</a>
        </p>
        <p class="govuk-body">
            If you want to pay with a credit card, it must link to a business bank account.
        </p>

    </div>



    <!-- ///////////////////////////////////////////////////// -->


    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-padding-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Previously submitted returns
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-2">
            You have not submitted any returns for previous years.
        </p>

    </div>

    <!-- ///////////////////////////////////////////////////// -->


    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-padding-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Go paperless with HMRC
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-2">
            You can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">sign up to get email reminders</a>, instead of letters, from HMRC.
        </p>

    </div>

    <!-- ///////////////////////////////////////////////////// -->

    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6 govuk-!-padding-0">

        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            More Self Assessment options
        </h2>

        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Do I need to submit a return?</a>
        </p>
        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state"> When to stop filing Self Assessment returns</a>
        </p>
        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">When you are no longer self-employed</a>
        </p>
        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Set up a partnership or add a partner</a>
        </p>
        <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">        Set up a trust</a>
        </p>

       
        
        



    </div>

    <hr class="govuk-grid-column-two-thirds govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">








    {% endblock %}