{% extends "layout.html" %}

{% block page_title %}
VAT - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">
  <p class="govuk-body">


  <p class="govuk-body">
    1. One penalty point
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            You have a penalty.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have a penalty</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>

  <p class="govuk-body">2. Three penalty point</p>

    <p class="govuk-body">

    <p class="govuk-body">Use for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Monthly 2, 3 or 4 points</li>
        <li>Quarterly 2 or 3 points</li>
        <li>pears</li>
      </ul>



  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            You have 3 penalty points.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have penalties</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    3. One penalty point.
    Client with single financial penalty in ETMP (LSP from day 1, or single LPP).
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            You have a penalty.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have a penalty</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    4. One penalty point.
    Client with multiple financial penalties in ETMP (any combination of 1 or more LSPs and/or 1 or more LPPs).
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            You have more than 1 penalty to pay.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have to pay penalties</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    5.Client with an estimated LPP (usually between days 16 and 30 following late payment of VAT)
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
              Your VAT payment is late. We have estimated your penalty amount. Pay your VAT now to avoid further penalties.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have a penalty</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>

  <p class="govuk-body">
    6.Client who has not paid VAT for 15 days and ALSO has a penalty in ETMP
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
    <div class="card-body">

      <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          VAT
        </h2>
        <p class="govuk-body">
          VAT registration number 123456789
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            Your VAT payment is late. You have more than 1 penalty.
          </p>
          <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Find out why you have penalties</a>
        </div>
      </div>

      <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Your next VAT submission is overdue.
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View return deadlines</a>
          </p>
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">View submitted returns</a>
          </p>
          <ul class="govuk-list">
            <!-- <li class="govuk-!-margin-bottom-2">
              <a href="#5" class="govuk-link govuk-link--no-visited-state">View previous VAT Returns</a>
            </li> -->
            <!-- <li>
              <a href="#6" class="govuk-link govuk-link--no-visited-state">Amend a mistake in a VAT Return</a>
            </li> -->
          </ul>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your payments
          </h3>

          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">Check what you owe and make a payment</a><br>
          </p>
          <p class="govuk-body">
            <a href="#7" class="govuk-body govuk-link govuk-link--no-visited-state">View payment history</a>
          </p>
        </div>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
        <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your VAT account</a>
        </p>
      </div>

    </div>
  </div>











</div>

{% endblock %}
