{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-combo-ur2.html' %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

    <!-- {% include "includes/back.html" %} -->

    <!-- <h1 class="govuk-heading-xl">
      You can save time by going paperless
    </h1> -->

    <h1 class="govuk-heading-xl">
      Save time by getting Self Assessment letters online
    </h1>

  </div>

  <!-- ///////////////////////////////////////////// -->
  <!-- //////////////////  OLD  //////////////////// -->
  <!-- ///////////////////////////////////////////// -->

  <!-- /////////// ACCOUNT USERS /////////////////// -->

  <!-- /////////// ACCOUNTANTS /////////////////// -->

  <!-- /////////// ACCOUNT DETAILS /////////////////// -->

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

    <div class="govuk-tabs" data-module="govuk-tabs">






          <!-- <p class="govuk-body">Get Self Assessment legal notices, penalty notices and tax letters sent to your business tax account. You will continue to get other letters from HMRC by post.</p>
          <p class="govuk-body">This does not include Self Assessment notices of coding. These notices will be sent to your personal tax account.</p>
          <p class="govuk-body"> <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/personal-tax-account">Check your personal tax account (opens in new window or tab)</a> is set up and that you can sign into it.</p>
          <p class="govuk-body">When you get Self Assessment notices or letters from HMRC, you must read them carefully and act on them. You may get a penalty if you do not.</p>
          <p class="govuk-body">We will email you when a new notice or letter has been sent to your tax account.</p> -->


          <p class="govuk-body">Get Self Assessment legal notices, penalty notices and tax letters sent to you online.</p>
          <p class="govuk-body">HMRC will send tax code notices to your personal tax account. <a href="" class="govuk-body govuk-link govuk-link--no-visited-state">Check you can sign into your personal tax account</a>.</p>
          <p class="govuk-body">You must read your online tax letters carefully and act on them. You may get a penalty if you do not.</p>
          <br>
          <p> <a href="#" class="govuk-body govuk-link govuk-link--no-visited-state" aria-label="Change Government Gateway email"><button class="govuk-button">Continue</button></p>
          <!-- <a href="account-details-ur3" class="govuk-body govuk-link" aria-label="Change Government Gateway email">Back to my account details</a> -->
    </div>
  </div>

</div>


{% endblock %}
