{% extends "layout.html" %}

{% block pageTitle %}
ITSA messages- GOV.UK
{% endblock %}

{% block content %}

<!-- //////////////////////////////////////// -->

{% include 'includes/nav-homepage-mtd-itsa.html' %}

<!-- ///////////////////////////////////////// -->

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.back()" class="govuk-back-link">Back</a>
    <br /><br /><br />

<!--     <h1 class="govuk-heading-xl">
      Message detail
    </h1> -->

    <h1 class="govuk-heading-xl">
      Send your annual update
    </h1>

    <p class="govuk-hint">This message was sent to you on 15 April 2021</p>

    <br />
    <p class="govuk-body">We have received your 4 quarterly updates for Joe Bloggs Plumbing and Joe Bloggs Plastering.
    </p>

    <p class="govuk-body">You must now send us an annual update for each of these businesses.</p>

    <p class="govuk-body">The deadline for sending these to us is 31 January 2022.</p>

    <p class="govuk-body">If you have other businesses registered with us with different obligation dates, you will
      receive a separate reminder for these.</p>

    <p class="govuk-body">If you have an agent, you may want to discuss this reminder with them.</p>

  </div>

</div>
{% endblock %}