{% extends "layout.html" %}

{% block page_title %}
Other taxes - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

  <p class="govuk-body">
   1. Skeleton Card
  </p>

  <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
    
          <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Check and challenge your business rates valuation
            </h2>
            <p class="govuk-body">
                VOA Personal ID: 16425
            </p>
          </div>
    
          <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your properties
                </h3>
           
          </div>
    
          

            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                    <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                            Use this service to: </p>
        
                         <ul class="govuk-list govuk-list--bullet">
                            <li>claim and view your properties</li>
                            <li>check and confirm your property details</li>
                            <li>challenge your valuation</li>
                            <li>appoint an agent to manage your properties</li>
                          </ul>
                             
          </div>
        </div>
      </div>



      <p class="govuk-body">
            2. Multiple properties
            </p>
            <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
            
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Check and challenge your business rates valuation
            </h2>
            <p class="govuk-body">
            VOA Personal ID: 16425
            </p>
            </div>
            
            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your properties
            </h3>
            <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            You have claimed <span
            class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1 govuk-!-padding-right-1">219</span>
            properties.
            </p>
            <p class="govuk-body">
            <a href="../../sa-subpage/sa-subpage-old" class="govuk-body govuk-link govuk-link--no-visited-state">View and manage your properties</a>
            </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
            <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            Use this service to: </p>
            
            <ul class="govuk-list govuk-list--bullet">
            <li>claim and view your properties</li>
            <li>check and confirm your property details</li>
            <li>challenge your valuation</li>
            <li>appoint an agent to manage your properties</li>
            </ul>
            </div>
            
            </div>
            </div>





   <p class="govuk-body">
    3. No properties
   </p>
   <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
    
          <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Check and challenge your business rates valuation
            </h2>
            <p class="govuk-body">
                VOA Personal ID: 16425
            </p>
          </div>
    
          <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
              Your properties
            </h3>
            <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                    You have not claimed any properties.
                  </p>
            <p class="govuk-body">
              <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Claim a property</a>
            </p>
          </div>

          <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                        Use this service to: </p>
    
                     <ul class="govuk-list govuk-list--bullet">
                        <li>claim and view your properties</li>
                        <li>check and confirm your property details</li>
                        <li>challenge your valuation</li>
                        <li>appoint an agent to manage your properties</li>
                      </ul>
           
          </div>
        </div>
      </div>
    
 
   

</div>




{% endblock %}