{% extends "layout.html" %}

{% block pageTitle %}
Business tax account - prototype
{% endblock %}

<main class="govuk-main-wrapper" id="main-content" role="main">
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-column-full">
      <h1 class="govuk-heading-xl">Cards prototype</h1>

      <!---------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">MTD ITSA Journey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-mtd-itsa-no-enrolments">No
            IRSA or ITSA enrolements</a> but agent has flagged for an MTD ITSA registration
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-mtd-itsa">MTD
            ITSA - With an IRSA and ITSA enrolement</a> so tile showing</li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">OTRS Fraud Identification</h2>
      <p class="govuk-body">Returning users for OTRS Registration:</p>
      <p class="govuk-body">Designs for <strong>Devs</strong>:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/homepage-otrs-part-subscription">
            Design with no enrolements</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-sa-otrs-part-subscription">MTD
            Design with enrolements</a></li>
      </ul>

      <p class="govuk-body">Previous design ideas for <strong>Designers</strong>:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/homepage-otrs-part-subscription-all-designs">
            Design with no enrolements</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-sa-otrs-part-subscription-all-designs">MTD
            Design with enrolements</a></li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">BTA Customers with No Enrolments</h2>
      <p class="govuk-body">Designs prototyped to help first timers into BTA understand what BTA is about and how they
        can use it:</p>
      <p class="govuk-body">Designs ideas <strong>without</strong> ancillary content:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/homepage-otrs-part-subscription">
            Design with no enrolments</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-1">
            Version 1</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-3-1">
            Version 3.1</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-3-2">
            Version 3.2</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-4">
            Version 4</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-5">
            Version 5</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-6">
            Version 6</a></li>
      </ul>

      <p class="govuk-body">Designs ideas <strong>with</strong> ancillary content:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/homepage-otrs-part-subscription-ancillary-content">
            Design with no enrolments</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-1-ancillary-content">
            Version 1</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-3-1-ancillary-content">
            Version 3.1</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-3-2-ancillary-content">
            Version 3.2</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-4-ancillary-content">
            Version 4</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-5-ancillary-content">
            Version 5</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/no-enrolments/new-ideas/version-6-ancillary-content">
            Version 6</a></li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">BTA Customers leaving BTA - capture their feedback</h2>
      <p class="govuk-body">Design ideas for experimentation as to why customers left BTA:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-1">
            Design option 1</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-2">
            Design option 2</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-3">
            Design option 3</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-4">
            Design option 4</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-5">
            Design option 5</a>
        </li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/leaving-bta-feedback/bta-help-us-improve-option-6">
            Design option 6</a>
        </li>

      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">COVID-19</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-vat">VAT --
            homepage card</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../../vat-subpage/vat-subpage-covid">VAT -- subpage</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-vat-form">VAT
            -- contact form</a>
        </li>
        <br>

        {# <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-b">Homepage B</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-c">Homepage C</a>
        </li> #}

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-sa">SA --
            homepage card</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sa-subpage/sa-subpage-covid">SA -- subpage</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-sa-form">SA --
            contact form</a>
        </li>

        <br>
        <!---------------------------------------------------------------------------------->

        <!---------------------------------------------------------------------------------->

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-epaye">ePAYE --
            homepage card</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-covid19-epaye-form">ePAYE
            -- contact form</a>
        </li>

        <br>
        <!---------------------------------------------------------------------------------->

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../help-and-contact/help-and-contact-covid">Help and
            contact</a>
        </li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Archived sessions <span style="color:#b1b4b6">[ April 2021 ]</span></h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-3">Session 1</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-31">Session 11</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-32">Session 12</a></li>
      </ul>
      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">BTA homepage versions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-pods">PODS</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-nps-no-checks">MTD -- NPS
            no checks</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-nps-eligible">MTD -- NPS
            eligible</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/bta-homepage/bta-homepage-nps-non-eligible">MTD --
            NPS not eligible</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="mtd_vat_cards">MTD -- VAT cards</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-sa">SA -- homepage card
            (user panel)</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-a2">A2 -- VAT</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="login/government-gateway-a3">A3 -- CT</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-a4">A4 -- PAYE</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-processing-times-1">A5
            -- Processing times 1</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-assistant-role">A6 --
            Assistant role
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/agents-sign-in-error">A7 -- Agent
            sign in error
          </a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-a8">A8 -- Self
            Assessment for partnerships
          </a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-a9">A9 -- SDIL card
            with DD
          </a>
        </li>

        <!-- <li> <a class="govuk-link govuk-link--no-visited-state" href="../bta-homepage/bta-homepage-stocktake-1">STOCKTAKE 1</a> </li> -->
      </ul>
      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">VAT subpage</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/vat-subpage/vat-subpage-covid-nps-accepted">VAT
            subpage NPS accepted </a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/vat-subpage/vat-subpage-covid-nps-not-accepted">VAT
            subpage NPS NOT accepted </a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/vat-subpage/vat-subpage-covid-nps-others">VAT
            subpage NPS others </a>
        </li>
      </ul>
      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Self Assessment subpage</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sa-subpage/sa-subpage-new-1">SA subpage 1</a>
        </li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Manage Accounts</h2>

      <ul class="govuk-list govuk-list--bullet">

        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="manage-account/homepage-with-descriptions">Manage Accounts Homepage -- -with descriptions</a></li> -->

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/ma-homepage-a1">A1 -- Manage Accounts
            -- All new</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/ma-homepage-a2">A2 -- New Manage
            Accounts -- All new + Direct Debit</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/ma-combo-1">A3 -- Manage Accounts --
            Combo 1 -- Add/remove tax</a>
        </li>
        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:;">A4 -- Manage Accounts -- Combo 2 -- Team members</a></li> <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:;">A5 -- Manage Accounts -- Combo 3 -- Accountants/Agents</a></li> <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:;">A6 -- Manage Accounts -- Combo 4 -- Account details</a></li> -->
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Account details</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/account-details/account-details-example">Account
            details example</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/account-details/account-details-options">Account
            details (for devs)</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/account-details/account-details-assistants.html">Account
            details -- Assistants only</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="manage-account/account-details/account-details-ur3-insolvency#vat">Account
            details -- VAT Insolvency</a>
        </li>
      </ul>
      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">No enrolments</h2>

      <ul class="govuk-list govuk-list--bullet">

        <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="manage-account/homepage-with-descriptions">Manage Accounts Homepage -- -with descriptions</a></li> -->
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="no-enrolments/assistants.html">Assistants</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="no-enrolments/homepage-admin-sa.html">Self
            Assessment / All taxes</a>
        </li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Catalogue of cards by tax</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="cca">CCA (Check, Challenge, Appeal)</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="corporation-tax">Corporation Tax</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="other-taxes">Other taxes</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="paye">PAYE for employers</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="payments-returns">Payments and returns</a>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="pta-h1-your-sa">PTA - Your Self Assessment</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="pta-h1-your-taxes">PTA - Your taxes</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="self-assessment">Self Assessment</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sa-subpage-sections">Self Assessment subpage
            sections</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sdil">SDIL (Soft Drinks Industry Levy)</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="vat">VAT</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="bta-homepage/bta-homepage-add-a-tax">Add a tax
            experiment</a>
        </li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-m">Navigation bar styles</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="bta-homepage/bta-homepage-new-nav">New BTA</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="bta-homepage/bta-homepage-govuk-1">GOV.UK -- Service</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="bta-homepage/bta-homepage-homeoffice">Home Office</a>
        </li>
      </ul>

      <!---------------------------------------------------------------------------------->
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <!---------------------------------------------------------------------------------->

      <h2 class="govuk-heading-l">Requirements</h2>

      <p class="govuk-body">all card elements should be the same height</p>

      <h3 class="govuk-heading-m">Each card should include:</h3>

      <h4 class="govuk-heading-s">card-body *required</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>use all available space</li>
        <li>card title (Options: hyperlink, no hyperlink) *required</li>
        <li>status (Options: status-low, status-med, status-high)</li>
        <ul>
          <li>if status is included it should be displayed directly below the title</li>
        </ul>
        <li>detail (Options: detail, detail-large)</li>
        <li>description</li>
      </ul>

      <h4 class="govuk-heading-s">card-actions</h4>

      <p class="govuk-body">if included should be the same height</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>hyperlink (Maximum 5)</li>
      </ul>

      <h3 class="govuk-heading-m">Page layout:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>display all cards at the same height</li>
        <li>should fit within a responsive grid layout
          <ul class="govuk-list govuk-list--bullet">
            <li>each card should be a maximum of 1/3 page width</li>
          </ul>
        </li>
      </ul>

      <h3 class="govuk-heading-m">The cards should all:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>have a card-body</li>
        <li>if card-body includes a hyperlink
          <ul>
            <li>have hover state</li>
            <li>when clicked redirects the user to another page</li>
          </ul>
        </li>
        <li>work with JS turned off</li>
      </ul>

      <h3 class="govuk-heading-m">The cards should be fully accessible:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>using a screenreader</li>
        <li>using keyboard only navigation</li>
        <li>screen magnifiers</li>
      </ul>

      <h3 class="govuk-heading-m">The cards should work on mobile devices:</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>they should stack to a single govuk-column</li>
      </ul>

    </div>
  </div>

  {% endblock %}
</main>