{% extends "layout.html" %}

{% block page_title %}
Other taxes - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">



    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Employment related securities (ERS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Tell HMRC about tax and National Insurance on employment related securities.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Submit employment related securities returns</a></p>
            </div>
        </div>
    </div>

    <!-- ////////////////////////////////////// -->


    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Alcohol and Tobacco Warehousing Declarations (ATWD)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Send your excise warehousing returns and payment warrants.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Alcohol and Tobacco Warehousing Declarations</a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Alcohol and Tobacco Warehousing Declarations (ATWD)
                </h2>
            <br>


                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-top-2 govuk-!-padding-bottom-0">
                    <p class="govuk-body">You have at least one excise warehouse which you cannot access in ATWD, because you have not activated it. <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Use the activation code we posted to you to get access</a>.</p>
                    <p class="govuk-body">If you have not received your activation code after 7 days, you can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">request a new activation code for ATWD</a>.</p>
                </div>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Send your excise warehousing returns and payment warrants.</p>

                <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your Alcohol and Tobacco Warehousing Declarations</a></p>
            </div>
        </div>
    </div>






    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Alcohol Wholesaler Registration Scheme (AWRS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Register as an alcohol wholesaler or producer or change an existing registration.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your Alcohol Wholesaler Registration Scheme details
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Annual Tax on Enveloped Dwellings (ATED)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Register for ATED to submit returns online.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Manage your Annual Tax on Enveloped Dwellings</a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Anti-money laundering supervision
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    View your messages, update your details or renew your supervision.
                </p>
                <p class="govuk-body">
                    <a href="../../amls/application-approved.html" class="govuk-link govuk-link--no-visited-state">Manage your anti-money laundering
                        supervision</a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Automatic Exchange of Information
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Report to HMRC under Automatic Exchange of Information agreements.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Details about Automatic Exchange of Information agreements
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Charities
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Claim tax back on things like Gift Aid donations.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Claim tax back on donations
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Construction Industry Scheme (CIS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    File monthly returns and verify subcontractors.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Construction Industry Scheme (CIS) details
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Duty Deferment Electronic Statements
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    View, print or download your statements.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Get copies of your Duty Deferment Electronic Statements
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Electronic Binding Tariff Information
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Get a legally binding tariff classification for your goods.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Request a Binding Tariff Information ruling
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Electronic Binding Tariff Information
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    This service is now closed.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Check what you need to get a legally binding decision from 1 January 2021 (opens in new tab)
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Employment intermediary report
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Tell us about people you pay but do not operate PAYE for.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Submit an employment intermediary report
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Excise Movement Control System (EMCS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Record duty suspended movements of excise goods taking place in the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Record duty suspended movements of excise goods
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Excise Movement Control System (EMCS)
                </h2>
                <br>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-top-2 govuk-!-padding-bottom-0">
                    <p class="govuk-body">You have at least one enrolment which you cannot access in EMCS, because you have not activated it. <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Use the activation code we posted to you to get access</a>.</p>
                    <p class="govuk-body">If you have not received your activation code after 7 days, you can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">request a new activation code for EMCS</a>.</p>
                </div>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Record duty suspended movements of excise goods taking place in the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                      Record duty suspended movements of excise goods
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Fulfilment House Due Diligence Scheme
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Enter your activation code to start using the Fulfilment House Due Diligence Scheme
                    </a></p>

            </div>

        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Gambling Tax Service (GTS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Manage your account, make payments and send returns for General Betting Duty (GBD), Pool Betting Duty (PBD) and
                    Remote Gambling Duty (RGD).
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Gambling Tax Service
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Gift Aid
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Claim Gift Aid when individuals donate to your charity or community amateur sports club.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Claim Gift Aid
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Goods Vehicle Movement Service (GVMS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    *Work in progress
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        *Manage your Goods Vehicle Movement Service (GVMS)
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <p class="govuk-body">
            Lorem it will take up to 2 hours for your GVMS to be activated. If it is more than
            2 hours then you can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">lorem ipsum</a>.</p>
      </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Goods Vehicle Movement Service (GVMS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Lorem it will take up to 2 hours for your GVMS to be activated. If it is more than
                    2 hours then you can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">lorem ipsum</a>.</p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Goods Vehicle Movement Service (GVMS)</h2><p>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
          <p class="govuk-body govuk-!-margin-bottom-2">You need to create a goods movement reference each time you make a crossing in either direction between the EU and Great Britain or between Great Britain and Northern Ireland.</p>
          <p class="govuk-body">You can create a draft goods movement reference and return to complete it within 28 days. If you do not make any updates within 28 days, your goods movement reference will expire and you cannot use it.</p>
          <!-- <p class="govuk-body"><a href="https://goods-movement-prototype.herokuapp.com/v9/eu-gb/create/direction" class="govuk-link govuk-link--no-visited-state">Get a Goods movement reference</a></p> -->
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <p class="govuk-body"><a href="https://goods-movement-prototype.herokuapp.com/v9/eu-gb/create/direction" class="govuk-link govuk-link--no-visited-state">Get a Goods movement reference</a></p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Goods Vehicle Movement Service (GVMS)</h2><p>
          <div
            class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-top-2 govuk-!-padding-bottom-0">Your goods movement from Belfast to Cairnryan is embarked but requires inspection. <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Find out more</a>.
          </div>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-1">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Your Goods movement</h3>
          <p class="govuk-body govuk-!-margin-bottom-2">You have 5 drafts to complete.</p>
          <!-- <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about your Goods movement references details</a></p> -->
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
          <p class="govuk-body"><a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about your Goods movement details</a></p>
        </div>
      </div>
    </div>


    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Import Control System (ICS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Automate import procedures so you only have to send information about goods once.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Import Control System (ICS) details
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Machine Games Duty (MGD)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Manage your account, make payments and send returns.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Machine Games Duty
                    </a></p>
            </div>
        </div>
    </div>

    <!-- <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    New Computerised Transit System (NCTS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Submit Union Transit (UT) and Transports Internationaux Routiers (TIR) declarations.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Submit Union transit system declarations
                    </a></p>
            </div>
        </div>
    </div> -->


    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    New Computerised Transit System (NCTS)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                  Manage your transit departure declarations and arrival notifications.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your transit movements
                    </a></p>
            </div>
        </div>
    </div>


    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    New Export System (NES)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Declare your exports to countries outside of the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your export declarations
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Notification of Vehicle Arrivals (NOVA)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Tell HMRC if you have brought a vehicle into the UK.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Create or amend vehicle notifications
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Pension scheme administrators
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Register as a new scheme administrator, enter details of new pension schemes and manage the schemes you are an administrator of.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                    Manage and register pension schemes
                    </a></p>
            </div>
        </div>
    </div>



    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Rebated Oils Enquiry Service
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Send returns and check customers’ approval numbers.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your Rebated Oils Enquiry Service
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Shared workspace
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Share sensitive data like accounts or employee information with HMRC.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your shared workspace
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Stamp Duty Land Tax (SDLT)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Send returns about land and property transactions.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Send Stamp Duty Land Tax returns
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT EC sales list (ESL)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Tell us about goods and services you supply to VAT-registered customers in the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Report sales to VAT-registered EU customers
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT EU refunds
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Claim refunds for VAT on goods and services bought for your business from the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Claim a VAT EU refund
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT Mini One Stop Shop (MOSS) scheme
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Report and pay VAT on sales of digital services to consumers in the EU.
                </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Manage your VAT MOSS scheme
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT Reverse Charge Sales List (RCSL)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    Report the sales of goods that are subject to the reverse charge of VAT. </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        Send a reverse charge of VAT return
                    </a></p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT Government Information and National Health Trusts (GIANT)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    File VAT21 and VAT100 forms if you represent a Government Department, NHS Trust or a Royal
                    Household. </p>
                <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">
                        File VAT21 and VAT100 forms
                    </a></p>
            </div>
        </div>
    </div>

    <!-- <p class="govuk-body">
        * Design example for card needing activation
    </p> -->

    <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    VAT Government Information and National Health Trusts (GIANT)
                </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <!-- <div class="govuk-body govuk-!-padding-bottom-0" >
                    <p class="govuk-body govuk-!-margin-bottom-2">
                        File VAT21 and VAT100 forms if you represent a Government Department, NHS Trust or a Royal
                        Household. </p>
                </div> -->

                <p class="govuk-body govuk-!-margin-bottom-2">
                    Use the activation code we posted to you to <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">access this tax</a>.
                    Activation takes up to 24 hours. </p>
                <p class="govuk-body">
                    It will take up to 7 days for your activation code to be delivered. If you have not received it
                    after 7 days you can <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">request a new activation code</a>.</p>

            </div>
        </div>
    </div>


    <!-- ///////////////////////////////////// -->


</div>



{% endblock %}
