{% extends "layout.html" %}

{% block page_title %}
  Other taxes - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}

  <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0">

    <p class="govuk-body">
      Skeleton Card
    </p>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy Reference XSDIL772812988
          </p>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your balance
          </h3>

          <p class="govuk-body govuk-!-margin-bottom-2">

            <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
          </p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
          </p>
        </div>
      </div>
    </div>

    <p class="govuk-body">
      1. Return due
    </p>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy Reference XSDIL772812988
          </p>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            The return for tax quarter April to June 2018 is due by 11:59pm on 30 July 2018.
          </p>
          <ul class="govuk-list">
            <li class="govuk-!-margin-bottom-2">
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete tax quarter April to June 2018 Soft Drinks Industry Levy return
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
          </p>
        </div>
      </div>
    </div>

    <p class="govuk-body">
      2. No Returns
    </p>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy Reference XSDIL772812988
          </p>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            You have no returns to complete.
          </p>

        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
          </p>
        </div>
      </div>
    </div>

    <p class="govuk-body">
      3. Late return
    </p>

    <div class="govuk-grid-column-full card-container" id="cardAmount">
      <div class="card-body">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">
            Soft Drinks Industry Levy Reference XSDIL772812988
          </p>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Your returns
          </h3>
          <p role="text" class="govuk-body govuk-!-margin-bottom-2">
            Tax quarter April to June 2018 return is late.
          </p>
          <ul class="govuk-list">
            <li class="govuk-!-margin-bottom-2">
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete tax quarter April to June 2018 Soft Drinks Industry Levy return
              </a>
            </li>

          </ul>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
          <p class="govuk-body">
            <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
          </p>
        </div>
      </div>
    </div>
    <p class="govuk-body">

      <p class="govuk-body">
        4. Multiple late returns - with numbers
      </p>

      <div class="govuk-grid-column-full card-container" id="cardAmount">
        <div class="card-body">
          <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              Soft Drinks Industry Levy
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-0">
              Soft Drinks Industry Levy Reference XSDIL772812988
            </p>
          </div>
          <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
              Your returns
            </h3>
            <p role="text" class="govuk-body govuk-!-margin-bottom-2">
              You have 4 returns that are late.
            </p>
            <ul class="govuk-list">
              <li class="govuk-!-margin-bottom-2">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete Soft Drinks Industry Levy return
                </a>
              </li>
            </ul>
          </div>

          <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
            <p class="govuk-body">
              <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
            </p>
          </div>
        </div>
      </div>
      <p class="govuk-body">

        <p class="govuk-body">
          5. No returns info to display (Error)
        </p>

        <div class="govuk-grid-column-full card-container" id="cardAmount">
          <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy
              </h2>
              <p class="govuk-body govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy Reference XSDIL772812988
              </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Your returns
              </h3>
              <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                There is no returns information to display.
              </p>

              <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2">
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Complete Soft Drinks Industry Levy return
                  </a>
                </li>
              </ul>
            </div>

            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
              <p class="govuk-body">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
              </p>
            </div>
          </div>
        </div>
        <p class="govuk-body">

          6. No balance
        </p>

        <div class="govuk-grid-column-full card-container" id="cardAmount">
          <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy
              </h2>
              <p class="govuk-body govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy Reference XSDIL772812988
              </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6"></div>

            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Your balance
              </h3>
              <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                You have no tax to pay.
              </p>

            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
              <p class="govuk-body">
                <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
              </p>
            </div>
          </div>
        </div>

        <p class="govuk-body">
          7a. In debit and has not set up Direct Debit (design on hold)
        </p>

        <!-- //////888888888888888888888///////// -->

        <div class="govuk-grid-column-full card-container" id="cardAmount">
          <div class="card-body">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy
              </h2>
              <p class="govuk-body govuk-!-margin-bottom-0">
                Soft Drinks Industry Levy Reference XSDIL772812988
              </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Your returns
              </h3>
              <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                You have no returns to complete.
              </p>
            </div>

            <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Your balance
              </h3>
              <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                You owe
                <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£540,826,346.40</span>.
              </p>
              <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2">
                  <a href="../errors/technical-difficulties" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
                </li>
                <li class="govuk-!-margin-bottom-2">
                  <p>
                    <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Set up a Direct Debit for Soft Drinks Industry Levy</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                <p class="govuk-body">
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                </p>
              </div>
            </div>
          </div>

          <!-- //////888888888888888888888///////// -->
          <p class="govuk-body">
            7b. In debit and has Direct Debit set up (design on hold)
          </p>

          <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy
                </h2>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy Reference XSDIL772812988
                </p>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your returns
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  You have no returns to complete.
                </p>
              </div>

              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your balance
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  You owe
                  <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£540,826,346.40</span>.
                </p>
                <ul class="govuk-list">
                  <li class="govuk-!-margin-bottom-2">

                    <p class="govuk-body govuk-!-margin-bottom-2">
                      You have a Direct Debit for SDIL. If you complete your return on time, we will take payment for the period ending 30 June 2020 on 13 August 2020. You can
                      <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">change or cancel your Direct Debit for Soft Drinks Industry Levy</a>.
                    </p>
                  </li>
                  <li class="govuk-!-margin-bottom-2">
                    <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
                  </li>
                </ul>
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                <p class="govuk-body">
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                </p>
              </div>
            </div>
          </div>

          {# //////////////////// #}

          <p class="govuk-body">
            7c. In debit and has not set up Direct Debit
          </p>

          <!-- //////888888888888888888888///////// -->

          <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy
                </h2>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy Reference XSDIL772812988
                </p>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your returns
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  You have no returns to complete.
                </p>
              </div>

              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your balance
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  You owe
                  <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£540,826,346.40</span>.
                </p>
                <ul class="govuk-list">
                  <!-- <li class="govuk-!-margin-bottom-2">
                    <a href="../errors/technical-difficulties" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
                  </li> -->
                  <li class="govuk-!-margin-bottom-2">
                    <p>
                      <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Set up a Direct Debit for Soft Drinks Industry Levy</a>
                    </li>
                    <li class="govuk-!-margin-bottom-2">
                      <a href="https://www.gov.uk/guidance/pay-the-soft-drinks-industry-levy-notice-5" class="govuk-body govuk-link govuk-link--no-visited-state">How to pay the levy</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                  <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                  </p>
                </div>
              </div>
            </div>

            <!-- //////888888888888888888888///////// -->
            <p class="govuk-body">
              7d. In debit and has Direct Debit set up
            </p>

            <div class="govuk-grid-column-full card-container" id="cardAmount">
              <div class="card-body">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                    Soft Drinks Industry Levy
                  </h2>
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    Soft Drinks Industry Levy Reference XSDIL772812988
                  </p>
                </div>
                <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Your returns
                  </h3>
                  <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                    You have no returns to complete.
                  </p>
                </div>

                <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    Your balance
                  </h3>
                  <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                    You owe
                    <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£540,826,346.40</span>.
                  </p>
                  <ul class="govuk-list">
                    <li class="govuk-!-margin-bottom-2">

                      <p class="govuk-body govuk-!-margin-bottom-2">
                        <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Change or cancel your Direct Debit for Soft Drinks Industry Levy</a>
                      </p>
                    </li>
                    <!-- <li class="govuk-!-margin-bottom-2">
                      <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
                    </li> -->
                    <li class="govuk-!-margin-bottom-2">
                      <a href="https://www.gov.uk/guidance/pay-the-soft-drinks-industry-levy-notice-5" class="govuk-body govuk-link govuk-link--no-visited-state">How to pay the levy</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                  <p class="govuk-body">
                    <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                  </p>
                </div>
              </div>
            </div>

            {# //////////////////// #}

          <p class="govuk-body">
            8. In credit
          </p>

          <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy
                </h2>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy Reference XSDIL772812988
                </p>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6"></div>

              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your balance
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  You are
                  <span class="govuk-body govuk-!-font-weight-bold govuk-!-padding-left-1">£1356.43</span>
                  in credit and have no tax to pay.
                </p>

              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                <p class="govuk-body">
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                </p>
              </div>
            </div>
          </div>

          <p class="govuk-body">
            9. No balance information to display (error)
          </p>

          <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy
                </h2>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy Reference XSDIL772812988
                </p>
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6"></div>

              <div class="govuk-grid-column-one-half govuk-!-padding-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  Your balance
                </h3>
                <p role="text" class="govuk-body govuk-!-margin-bottom-2">
                  There is no balance information to display.
                </p>
                <p class="govuk-body govuk-!-margin-bottom-2">

                  <a href="javascript:;" class="govuk-body govuk-link govuk-link--no-visited-state">Pay the Soft Drinks Industry Levy</a>
                </p>
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1">
                <p class="govuk-body">
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">More details about Soft Drinks Industry Levy</a>
                </p>
              </div>
            </div>
          </div>

          <p>
            10. Cannot display SDIL information
          </p>

          <div class="govuk-grid-column-full card-container" id="cardAmount">
            <div class="card-body">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                  Soft Drinks Industry Levy
                </h2>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body govuk-!-margin-bottom-2">
                  We cannot display your Soft Drinks Industry Levy details. You may still be able to
                  <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">use the Soft Drinks Industry Levy online service</a>.
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  {% endblock %}
