{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a2.html' %}
{% block content %}

{% include 'includes/nav-combo-ur2.html' %}

<div class="govuk-grid-row">

    <form action="/manage-account/add-other-taxes" method="post" class="form">

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

          <h1 class="govuk-fieldset__heading">
            Which duty do you need to add?
          </h1>
        </legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="GBD" name="GBD" type="radio" value="GBD">
            <label class="govuk-label govuk-radios__label" for="GBD">
              General Betting Duty (GBD)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="MGD" name="MGD" type="radio" value="MGD">
            <label class="govuk-label govuk-radios__label" for="MGD">
              Machine Games Duty (MGD)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="PBD" name="PBD" type="radio" value="PBD">
            <label class="govuk-label govuk-radios__label" for="PBD">
              Pool Betting Duty (PBD)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="RGD" name="RGD" type="radio" value="RGD">
            <label class="govuk-label govuk-radios__label" for="RGD">
              Remote Gaming Duty (RGD)
            </label>
          </div>
        </div>

      </fieldset>
    </div>

  </div>

</div>
<br>
<button class="govuk-button">Continue</button>

{% endblock %}
