{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a2.html' %}

<div class="govuk-grid-row">

  <form action="/manage-account/add-tax-which-VAT-a2" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">

              Which VAT service do you need to register&nbsp;for?

            </h1>
          </legend>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="vat" name="which-vat" type="radio" value="vat">
            <label class="govuk-label govuk-radios__label" for="vat">
              VAT
            </label>
          </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ecsales" type="radio" name="which-vat" value="ecsales">

              <label class="govuk-label govuk-radios__label" for="add-vat-ecsale">
                EC Sales List, report sales made to VAT registered EU customers
              </label>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="eurefunds" type="radio" name="which-vat" value="eurefunds">

                <label class="govuk-label govuk-radios__label" for="add-vat-eurefunds">
                  EU Refunds, reclaim VAT you paid in the EU
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="giant" type="radio" name="which-vat" value="giant">

                <label class="govuk-label govuk-radios__label" for="add-vat-giant">
                  Government Information and National Health Trusts (GIANT)
                </label>
              </div>

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="moss" type="radio" name="which-vat" value="moss">

                  <label class="govuk-label govuk-radios__label" for="add-vat-moss">
                    Mini One Stop Shop (MOSS), VAT on digital services sold to EU customers
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nova" type="radio" name="which-vat" value="nova">

                  <label class="govuk-label govuk-radios__label" for="add-vat-nova">
                    Notification of Vehicle Arrivals (NOVA)
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="rcsl" type="radio" name="which-vat" value="rcsl">

                <label class="govuk-label govuk-radios__label" for="add-vat-rcsl">
                  Reverse Charge Sales List (RCSL), report sales that have reverse charge VAT
                </label>
              </div>
          </div>
      </div>
    </div>

    <button class="govuk-button">Continue</button>

    <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
      <summary class="govuk-details__summary_noarrow" style="display:block;">
        <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
          Is this page not working properly?
        </span>
      </summary>
      <div class="">

      </div>
    </details>
</form>
{% endblock %}
