{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a2.html' %}

<div class="govuk-grid-row">

  <form action="/manage-account/add-tax-a2" method="post" class="form">

  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
           You cannot add Corporation Tax to this account
          </h1>
        </legend>

        <p class="govuk-body">You have signed in with an individual account. You need to sign in with an organisation account to add Corporation Tax.</p>

        <a href="javascript:;" class="govuk-link govuk-link--no-visited-state">Set up an organisation account</a>
{% endblock %}