{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a1.html' %}


<div class="govuk-grid-row">

  <form action="/manage-account/has-imported-goods" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="import-over-85k-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
              Which tax agent do you want to add, view or change?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="" name="" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="">
                Corporation tax
              </label>
            </div>
            <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="" name="" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="">
                      PAYE for employers	
                  </label>
                </div>
                <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="" name="" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="">
                          Self Assessment
                      </label>
                    </div>
                    <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="" name="" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="">
                              VAT services	
                          </label>
                        </div>

            
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>

  </form>

</div>

{% endblock %}