{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a1.html' %}


<div class="govuk-grid-row">

  <form action="/manage-account/is-part-of-division" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/back.html" %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-padding-bottom-4">
              Is your company part of a division?
            </h1>
          </legend>
          <span id="changed-name-hint" class="govuk-hint govuk-!-padding-bottom-4">
            A corporate body is trading in divisions if it has 2 or more self-accounting branches, sites or departments in the UK.
          </span>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="separate-vat-reg-yes" name="separate-vat-reg" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="separate-vat-reg-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="separate-vat-reg-no" name="separate-vat-reg" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="separate-vat-reg-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button">
        Continue
      </button>


    </div>

  </form>

</div>

{% endblock %}