{% extends "layout.html" %}

{% block pageTitle %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-combo-ur3.html' %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

    <!-- {% include "includes/back.html" %} -->

    <h1 class="govuk-heading-xl">
      Manage account
    </h1>


  </div>




  <!-- /////////////////////////////////////////// -->

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <div class="govuk-inset-text govuk-!-margin-top-0 ">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Get Self Assessment tax letters online</h3>
      <p>Get Self Assessment tax letters online. You can view, download or print them when you want. Save time and clear clutter. <class="govuk-body"><a href="" target="_blank" class="govuk-link govuk-link--no-visited-state">Find out more</a></p>

    </div> -->


    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

      <!-- <div class="govuk-inset-text govuk-!-margin-top-0 ">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Get tax letters online</h3>
        <p><class="govuk-body"><a href="/manage-account/account-details/go-paperless-signup" class="govuk-link govuk-link--no-visited-state">Get Self Assessment tax letters online</a></p>

      </div>

<br> -->

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-s">Add a tax, duty or scheme to your account</h2>
      <!-- <p>You may need reference numbers relevant to the tax you are adding.</p> -->
    <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="add-tax-a2">
        Get online access to a tax, duty or scheme </a></p>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    <h2 class="govuk-heading-s">Remove a tax, duty or scheme from your account</h2>

    <p>
      <a class="govuk-link govuk-body govuk-link--no-visited-state" href="deregister/deregister-a2.html">
        Deregister a tax, duty or scheme</a>
    </p>
    <p>
      <a class="govuk-link govuk-body govuk-link--no-visited-state" href="stop-online/remove-tax-a2.html">
        Stop access to a tax, duty or scheme online</a>
    </p>

  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Account access</h2>
    <a class="govuk-link govuk-body govuk-link--no-visited-state" href="account-access/team-members-gg">
      Add or delete a team member
    </a>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
    <!-- <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5"> -->
    <a class="govuk-link govuk-body govuk-link--no-visited-state" href="account-access/manage-team-member.html">
      Give a team member access to a tax, duty or scheme
    </a>
  </div>

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Tax agents</h2>
    <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">Add, view or change tax agents</a></p>
    <p> <a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;">
      View agent request history or remove a tax agent
    </a> </p>
  </div> -->

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
      <p>For agents managing one or more of: trusts, estates, income record viewer, Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property:
      <br><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">View agent request history or remove a tax agent</a></p>
      <p>For agents managing all other taxes, duties and schemes:
      <br><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">Add, view or change tax agents</a>
  </div> -->

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
      <p>For trusts, estates, income record viewer, Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property:
      <br><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">View agent request history or remove a tax agent</a></p>
      <p>For all other taxes, duties and schemes:
      <br><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">Add, view or change tax agents</a>
  </div> -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
    <p> <a class="govuk-link govuk-body govuk-link--no-visited-state" href="https://agent-services-prototype.herokuapp.com/relationships/v1-5/invitations/manage-agents/index?authorisationPresent=true&invitationPresent=true&inviteType=business#current-requests">
      Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property, trusts or estates
    </a> </p>
    <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="#">
      All other tax agent services
    </a></p>

  </div>

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
      <p>For trusts, estates, income record viewer, Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property:
      <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">View agent request history or remove a tax agent</a></p>
      <p>For all other taxes, duties and schemes:
      <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">Add, view or change tax agents</a>
  </div> -->

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
      <p>For agents managing one or more of: trusts, estates, income record viewer, Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property:
      <a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">View agent request history or remove a tax agent</a></p>
      <p>For agents managing all other taxes, duties and schemes:
      <a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">Add, view or change tax agents</a>
  </div> -->

  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>

      <p>For trusts, estates, income record viewer, Making Tax Digital for VAT, Making Tax Digital for Income Tax, Capital Gains Tax on UK property</p>
      <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">View agent request history or remove a tax agent</a></p>
      <p>For all other taxes, duties and schemes</p>
      <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">
      <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;">
      Add, view or change tax agents
    </a> </p>
  </div> -->



  <!-- <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage tax agents</h2>
    <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="choose-agent">
      Making Tax Digital for VAT or Income Tax, Capital Gains Tax on UK property, income record viewer, trusts or estates
    </a></p>
    <p> <a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;">
      All other tax agent services
    </a> </p>
  </div> -->




  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Account details</h2>
    <a class="govuk-link govuk-body govuk-link--no-visited-state" href="account-details/account-details-ur3">
      View or change your account details
    </a>

  </div>


  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Direct Debit</h2>
    <a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;">
    Set up or change VAT Direct Debit
    </a>
  </div>


  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-s">Manage email subscriptions</h2>
    <p>
    <a class="govuk-link govuk-body govuk-link--no-visited-state" href="javascript:;">
      Manage help and support emails from HMRC</a> 
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  </div>


</div>

{% endblock %}
