{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% block content %}

{% include 'includes/nav-homepage-a2.html' %}

<div class="govuk-grid-row">

  <form action="/manage-account/other_account" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add VAT MOSS to your VAT account</h1>
      <p class="govuk-body">You need to manage VAT MOSS in the account where you manage VAT.</p>
      <p class="govuk-body">Sign in to your VAT account and add VAT MOSS there.</p>
      <div class="govuk-inset-text">
        If that doesn’t work, call us and we’ll do it for you manually.
      </div>

      <button class="govuk-button">Sign in to your VAT account</button>

      <p>
        <a href="#" class="govuk-link">I do not want to add VAT MOSS now</a>
      </p>


    </div>
</div>




  <details class="govuk-details" data-module="govuk-details" style="padding-top:30px;">
    <summary class="govuk-details__summary_noarrow" style="display:block;">
      <span class="govuk-details__summary-text" style="font-size:16px;color:#454a4c">
        Is this page not working properly?
      </span>
    </summary>
    <div class="">

    </div>
  </details>
</form>
{% endblock %}
