{% extends "layout.html" %}
{% set serviceName = "Managing pension schemes" %}
{% set pageHeading = "Managing pension schemes" %}

{% block pageTitle %}
  Managing pension schemes - GOV.UK
{% endblock %}

{% block content %}

  <main id="content" class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0" role="main">

    <div class="govuk-grid-column-two-thirds">

      <a class="govuk-back-link  govuk-!-margin-bottom-6" href="add-other-taxes">Back</a>

      <h1 class="govuk-heading-xl">You need to register as a pension scheme administrator or practitioner</h1>

      <p class="govuk-body">
        You must do this before you can use the Managing Pension Schemes service.
      </p>
      <p class="govuk-body">
        You can register as an individual, company or partnership.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Register as a pension scheme administrator</a>
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Register as a pension scheme practitioner</a>
      </p>

    </div>
  </main>

{% endblock %}