{% extends "layout.html" %}

{% block page_title %}
Self Assessment - GOV.UK
{% endblock %}

{# {% import "includes/card-template.html" as card %} #}

{% include 'includes/nav-homepage-a1.html' %}
{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    {% include "includes/back.html" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
     VAT registration process
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
   
    <ol class="govuk-list govuk-list--number">
      <li class="govuk-body govuk-!-font-weight-normal govuk-!-padding-bottom-2">Check if you can register for VAT using the online service</li>
        
      <li class="govuk-body govuk-!-font-weight-normal govuk-!-padding-bottom-2">Complete and submit your VAT application</li>

      <li class="govuk-body govuk-!-font-weight-normal govuk-!-padding-bottom-2">Get your VAT registration number by post or email notification within&nbsp;30&nbsp;days</li>

      <li class="govuk-body govuk-!-font-weight-normal govuk-!-padding-bottom-2">Sign into your business tax account to get online access to VAT</li>
    </ol>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-button"  href="eligibility" class="govuk-button">Start VAT registration process</a>
  </div>
</div>

{% endblock %}


Check if you are eligible to register for VAT online
If you are not eligible you need to register for VAT by post.

2) Complete VAT registration
If you are eligible, you will be directed to HMRC’s online portal to register.
3) Get your VAT registration number
You will be posted a VAT registration number.
4) Manage your VAT online using the business tax summary
Go to your business tax summary to add VAT and view your details online.